[2020-10-23 18:21] CaitlinV39 opened #1389 "Comma escaping not working per spec"
**Describe the bug**
Comma escaping not working per spec: https://www.hl7.org/fhir/search.html#escaping

**FHIR Version?**
Stu3/R4

**Data provider?**
SQL (may also be in Cosmos)

**To Reproduce**
Steps to reproduce the behavior:
https://{{fhirserver}}/Practitioner?name=KEBER MD`\`,BARBARA A ;

**Expected behavior**
Should return **Keber MD, Barbara A**

**Actual behavior**
It is searching for **K

[2020-10-23 19:22] CaitlinV39 commented on #1151
@brendankowitz that makes sense to me and I can document that we updated the bundle. I don't want to throw the BadRequest.

[2020-10-23 19:41] CaitlinV39 commented on #1389
@brendankowitz  - FYI

[2020-10-23 21:19] brendankowitz opened #1390 "In some cases, errors are not processed by CosmosResponseProcessor"
**Describe the bug**

As found in the PR: https://github.com/microsoft/fhir-server/pull/1367#discussion_r511029941
Sometimes errors do not pass through `CosmosResponseProcessor`, the example of this was an invalid continuation token.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. Post in a bad continuation token, `?ct=blah`

**Expec

[2020-10-23 21:53] johnstairs commented on #1390
I worry this means that session consistency and request charge headers are not being set for searches.

[2020-10-23 23:43] CaitlinV39 commented on #1382
AB#76902 and AB#76903 to address in SQL and Cosmos

[2020-10-25 08:43] LizaShak opened #1392 "Add reference to health architectures in readme"
**User story**
As a developer using the fhir-server, I want to have information about health architectures and the FHIR Proxy so that I can learn about architectural best practices and have information about a  secure gateway (Proxy) for my FHIR server .

**Acceptance criteria**
1. When I open the main readme, then that information is available for me.

[2020-10-26 07:31] medlab001 opened #1394 "[Question] How to configure fine-grained authentication and authorization?"
I've set up the PaaS FHIR server on Azure and integrated B2C for user account registration and logins. My app includes self-help portals for patients and portals for Physicians. This means that only physicians that are assigned to patients (with say, an admin account), can read that patient's data. How do I accomplish this?

I tried to setup an API Gateway and inspect URL and body parameters to ch

[2020-10-26 18:08] brendankowitz opened #1395 "Improve parser error messages"
**Describe the bug**
The following questionnaire resource has two problems:

1. The parser is throwing a format exception when converting `00` to a decimal
2. The exception message that is thrown is generic and does not indicate the source of the error

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
All

**To Reproduce**
Steps to reproduce the behavior:
1. Post the resource below

**Expected beh

[2020-10-26 22:47] CaitlinV39 commented on #890
@brendankowitz to investigate

[2020-10-26 22:49] CaitlinV39 commented on #1373
@davidegiacometti let me know if Brendan's updates resolve your issue or if you still have questions. We are going to continue to look at ways to optimize in the future.

[2020-10-26 22:52] CaitlinV39 commented on #1380
We aren't aware of a way that we could do this in cosmos so going to close

[2020-10-26 22:52] #1380 closed

[2020-10-27 20:14] CaitlinV39 commented on #1084
AB#75005

[2020-10-28 02:33] brendankowitz opened #1401 "Re-enable history tests so that they pass in CI"
**User story**
Some history tests are repeatedly failing in CI, these will need to be reviewed and reenabled

## Refs
- #1400
- https://microsofthealthoss.visualstudio.com/FhirServer/_build/results?buildId=6595&view=logs&j=881d636c-524f-5b15-5e3c-2b78331d56c2&t=0abf07bd-3e93-57ce-f035-52c6f49880a8

[2020-10-28 03:00] brendankowitz opened #1402 "Investigate Semver via GitVersion library"
**User story**
As a developer, I want to have an assembly and package versioning that uses semver so that releases are unique and make it easy to identify breaking changes and branch or hotfixes.

A simple powershell build task might also suffice, bit this library looks to be build specifically for Git alignment
https://gitversion.net/docs/configuration#branch-configuration

[2020-10-28 19:07] Ivanidzo4ka commented on #1364
It works properly because SQL server support it on collation level (either whole database, or specific column can be assign with specific collation which defines how things encoded, and how to perform string comparisons).

There is no such thing in CosmosDB as far as I can see. They "recently" [added ](https://devblogs.microsoft.com/cosmosdb/new-string-function-performance-improvements-and-case-in

[2020-10-28 20:44] Ivanidzo4ka commented on #1151
@brendankowitz @CaitlinV39
So for the case of `?_type=Patient,foo` I think we can all agree it should do search for `Patient` only and add message what `foo` is unknow.
But what should be the case for `?type=foo`? We can ignore type and in this [case](https://www.hl7.org/fhir/search.html#_type):
`If no type is specified, the only search parameters that be can be used in global search like this are

[2020-10-28 21:42] johnstairs opened #1404 "Sorting excludes resources where sort value is missing"
**Describe the bug**
A clear and concise description of what the bug is.

**FHIR Version?**
All

**Data provider?**
SQL Server

**To Reproduce**
1. POST a new Patient without a `birthDate` value
[code]

2. Perform a search and verify that the resource is part of the bundle:
[code]

3.  Now specify that the result should be sorted by birthdate:
[code]

**Expected behavior**
The resource we POSTed i

[2020-10-28 21:43] johnstairs commented on #1404
@itye-msft @eladiw @limorl @namadabu FYI

[2020-10-29 20:41] davidegiacometti commented on #1373
I have been able to deply the schema using https://github.com/microsoft/healthcare-shared-components/tree/master/src/Microsoft.Health.SqlServer/Features/Schema/Migrations.

Thanks

[2020-10-29 20:41] #1373 closed

[2020-10-29 21:54] CaitlinV39 commented on #1389
@Ivanidzo4ka  - Created AB#77071 for this for you

[2020-10-29 22:22] brendankowitz commented on #1364
It would be nice if the DB support this, but if we don't have that option, how reliably can we do this at an app level?
I'm also not sure of the caveats of using a .net package like System.Text.Encoding.CodePages vs 3rd party like https://github.com/apache/lucenenet/blob/master/src/Lucene.Net.Analysis.Common/Analysis/Miscellaneous/ASCIIFoldingFilter.cs.

Lets log a separate bug for case-insensitiv

[2020-10-29 23:19] Ivanidzo4ka commented on #1364
Yeah, I can see it's working, but I don't understand why it's working....
This is a snippet from query:
`AND EXISTS (SELECT VALUE si FROM si IN r.searchIndices WHERE si.p = @param2 AND STARTSWITH(si.n_s, @param3))`

https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-startswith
bool_expr Optional value for ignoring case. When set to true, STARTSWITH will do a case-insensitive search. When u

[2020-10-29 23:39] brendankowitz commented on #1364
We store a normalized value in a different field the (`n_` field): https://github.com/microsoft/fhir-server/blob/master/src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/Search/SearchIndexEntryJObjectGenerator.cs#L116

[2020-10-29 23:47] Ivanidzo4ka commented on #1364
Cool, I'm learning more and more.
I guess there is opportunity to don't use that field at all if we decide to go with storage based solution. Or repurpose it for accent normalization.

[2020-10-30 14:23] granadacoder commented on #800
(This is my opinion on it......)

For the original reader.  This project is not a traditional "ORM" type of project.
For Ms Sql Server, the team is using (many? but important) Ms Sql Server specific features to get PERFORMANCE.
A traditional "chatty" ORM would never work here.  Or would run horribly.

This is why a "portover" would be a full fledged and very intense project.

CTE's are the one I s

[2020-10-31 05:57] IoTFier opened #1409 "CICD setup in the local "Azure DevOps Server 2020""
**Question**

Hello @brendankowitz and Azure FHIR team, greetings !

I am running a _**Azure DevOps server 2020**_ locally to build few OSS Repos that include Azure FHIR Server & Azure DICOM Server.

In my local Azure DevOps server instance, I have - a> clone repo of Microsoft/fhir-server as well as b> a clone repo of the forked copy of Microsoft/fhir server. Similarly, that of Microsoft DICOM ser

[2020-10-31 12:34] johnstairs opened #1410 "Crucible tests run concurrently with other E2E tests and cause test instabilities"
Our CI tests run Crucible tests in the background, while the E2E tests execute. This causes instabilities because many tests assume exclusive access to the FHIR server.

See https://microsofthealthoss.visualstudio.com/FhirServer/_build/results?buildId=6653&view=logs&j=e8dae5a1-9466-5eaf-6e12-4a7c123a87b8&t=cd3406d1-7e57-58b1-5267-50c955114b8b&l=724

[2020-11-01 21:24] itye-msft commented on #1404
@johnstairs We taking a closer look and will come up with suggestions. This one is tricky.

[2020-11-02 13:33] felixwimmer opened #1413 "notation of search parameters"
We discovered a difference between the VONK FHIR Server and the Microsoft FHIR Server regarding the notation of search parameters (with or without '\_').

For example we want to select all "Conditions" for a specific patient ("subject").
For the VONK FHIR Server the search parameter has to be „subject:Patient“ (without '\_') and for the Microsoft FHIR Server it has to be „\_subject:Patient“ (with

[2020-11-02 17:05] CaitlinV39 commented on #1151
@Ivanidzo4ka my thoughts are leave the behavior as it is today where ?type=foo I would just not do the search. I'm okay with just notifying the user and leaving URLs but would like @brendankowitz  to weigh in on this too.

[2020-11-02 18:11] Ivanidzo4ka commented on #1151
One other hand there is this issue:
https://github.com/microsoft/fhir-server/issues/620
Which clearly wants to strip unsupported parameters from url. @johnstairs any chance you remember reasoning for that decision?

[2020-11-02 20:23] Ivanidzo4ka opened #1415 "Absence of validation for continuationToken"
**Describe the bug**
Wrongly constructed continuation token forces server to return 500 instead of 4xx

**FHIR Version?**
All of them I assume.

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. For SQL server - pass token from cosmos like: `Observation?_count=1&ct=W3sidG9rZW4iOiIrUklEOn5ydEJXQUxGN1hhT0RCUUFBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NTE

[2020-11-02 21:35] Ivanidzo4ka commented on #660
@rotodd  @CaitlinV39  I've tried to reproduce this bug, and it seems to me to be fixed. Can we close this issue?

[2020-11-02 23:07] cunninghamjc commented on #1258
Opened an issue on fhir-net-api: https://github.com/FirelyTeam/fhir-net-api/issues/1531.  SearchParams is parsing "-" as a sort parameter with an empty name, which later fails a Debug.Assert in SearchParameterNotSupportedException.

[2020-11-02 23:23] Ivanidzo4ka commented on #1395
Regarding "00" as a valid decimal.

https://github.com/FirelyTeam/fhir-net-api/pull/886, they disable it for some reason, I can't find issue for that PR, only PR itself.
If I look into standard: https://www.hl7.org/fhir/datatypes.html#decimal
That regex is yields as much groups as you have 0 in front of decimal. So I would argue "00" is not a valid decimal from standard viewpoint.

[2020-11-02 23:32] CaitlinV39 commented on #1395
@Ivanidzo4ka Definitely. This issue is to make sure that the error message gives the user more details to understand why it failed. They weren't able to get details that it was the 00 causing the issue.

[2020-11-03 17:28] andreracz opened #1418 "Search Patient by Managing Organization does not work"
**Describe the bug**
I'm trying to search a patient by Managing Organization and it does not work.

**FHIR Version?**
R4

**Data provider?**
CosmosDB (using the managed version)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Organization with value:
{
        "resourceType": "Organization",
        "name": "ORG 1"
}
2. Get the ID from the org (in my case:  e9c9376a-9206-4656-ba

[2020-11-03 18:16] andreracz commented on #1418
Also, trying to include the managing organization when getting the pacient does not works. Should be related.
Using URL:
https://xxxxxx.azurehealthcareapis.com/Patient?_include=Patient:managingOrganization

The return is:
 {
    "resourceType": "OperationOutcome",
    "id": "7a7ab8681f49374099cba6aedfbddf43",
    "issue": [
        {
            "severity": "error",
            "code": "forbidden"

[2020-11-03 19:10] granadacoder commented on #811
So if anyone stumbles upon this question.  I just got out of a meeting where we discussed "Where do the short-cuts come from??"

Here is some "mind-bridge" tips.

If you go to HL7.  For the fhir resource. (Patient in this example).

https://www.hl7.org/fhir/patient.html#search

Under "Search Parameters" you'll see these headers:

Name | Type | Description | Expression
-- | -- | -- | --

and one of

[2020-11-03 19:16] hansenms commented on #811
The thing you call a short cut is a search parameter. Specifically a given search parameter, say `phone` or `name` corresponds to a FHIR path expression, which may in fact search multiple fields on the resource. So check `name` for instance, which will look in both first and last name. So the term short cut is probably not recommended. They are just search parameters. They are defined in terms of

[2020-11-03 19:21] granadacoder commented on #811
Good point.  I changed the syntax of my response.

[2020-11-03 20:20] Ivanidzo4ka commented on #1418
Thank you reaching to us.
Few comments:

-  `/Patient?organization=e9c9376a-9206-4656-ba33-faeec3bf0ba5`
I believe case insensitivity for search parameters is not specified in standard, so that link should be `Patient?Organization=e9c9376a-9206-4656-ba33-faeec3bf0ba5` because resource type you filtering on is `Organization`. And it works for me to some extent. (More below)

- `/Patient?organizatio

[2020-11-03 20:47] brendankowitz commented on #1415
Refs #1367, #1390

[2020-11-03 20:52] brendankowitz commented on #1401
Completed in #1403

[2020-11-03 20:52] #1401 closed

[2020-11-03 20:56] brendankowitz commented on #1413
Hi @felixwimmer,

Can you expand the example search string, i.e. are you using `/Condition?subject:Patient=abc`?

In general, only the built-in global or special search types have `_`, e.g. `_id`.

[2020-11-03 21:00] Ivanidzo4ka commented on #1418
AFAIK `_include` is not supported with Cosmos backend.
So let's move to normal searches.
[code]
this looks like valid patient, but it's not exactly right.
https://www.hl7.org/fhir/R4/patient-definitions.html#Patient.managingOrganization
should be a reference.
So part of json should look like this:
[code]
And if I insert that patient, I can find it.

There is still question what should we do in cas

[2020-11-03 22:29] andreracz commented on #1418
Ok, my mistake, I was inserting a wrong reference. Want me to close this or leave it open for dealing with the input error?

[2020-11-03 23:22] Ivanidzo4ka commented on #1418
I would leave it open for now, I find it strange what for STU3 we actually throw error if you pass us non valid code, but for R4 it's ok to accept such input.

[2020-11-04 00:32] Ivanidzo4ka commented on #1418
http://hl7.org/fhir/STU3/references.html#Reference vs http://hl7.org/fhir/references.html#Reference
R4 added
`"type" : "<uri>", // Type the reference refers to (e.g. "Patient")`
Which is why this document is parsed without any error, but in same time it doesn't make much sense for observation to have reference as type, but from standard point of view it's valid input.

[2020-11-04 10:21] andreracz commented on #1418
Type is OK as per R4, but I had mistaken the reference for ID.

[code]

[2020-11-04 17:57] brendankowitz commented on #1418
Correct, `id` is not valid in a reference object, this should work with R4:
[code]

[2020-11-04 19:32] pjirsa opened #1421 "Rename app roles"
https://github.com/microsoft/fhir-server/blob/034aea8a6ab183c00a0cc2beed4d8b8a8f27cc26/src/Microsoft.Health.Fhir.Shared.Web/roles.json#L39

Role names including term "global" (i.e. globalAdmin) create ambiguity with other systems or built-in Azure AD role names such as "Global Administrator". This naming convention potentially raises security concerns during IT SecOps audits.

Consider renaming to

[2020-11-05 04:38] IoTFier commented on #1409
Hi @CaitlinV39 , @brendankowitz  - any thoughts ?
I would appreciate your help.

Thank you.

[2020-11-05 10:08] anyname2 opened #1423 "_id search combined with reference does not filter by reference"
**Describe the bug**
When searching by `_id` and reference type parameter in a single query, results are filtered by `_id` only, reference is not checked.

[code]

Looking at the generated SQL query, reference parameter is in `cte0`, which is not referenced by any of the following ctes.
[code]

**FHIR Version?**
R4 (tested), likely all

**Data provider?**
SQL Server

**To Reproduce**
Steps to repr

[2020-11-05 11:43] andreracz opened #1424 "Searching by identifier in a coding system with the :of-type modifier does not work"
**Describe the bug**
Searching for a patient by Identifier, using the of-type modifier presents the error: Only one token separator can be specified. This is necessary for Brazilian Documents, as the current profile does not specify a System for Brazilian Documents (RG and CPF)

Per the specification (https://www.hl7.org/fhir/search.html):

**FHIR Version?**
R4

**Data provider?**
CosmosDB

**To R

[2020-11-05 11:45] andreracz commented on #1424
Is this is a new feature instead of a Bug, the error should state that the of-type modifier is not supported in order to provide better guidance to the users.

[2020-11-05 20:55] brendankowitz commented on #1409
I think there are a number of articles that could provide the steps for point 1, e.g. https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/syncing-a-fork. I think this could be done with a scheduled task.

For point 2. CI usually has integration with the repository and needs something like Webhook notifications to fire the build off. You won't be able

[2020-11-05 22:35] brendankowitz opened #1428 "Conformance statement requires the .date field"
**Describe the bug**
From inferno.healthit.gov:

Invalid CapabilityStatement: CapabilityStatement: Profile http://hl7.org/fhir/StructureDefinition/CapabilityStatement, Element 'CapabilityStatement.date': minimum required = 1, but only found 0

[2020-11-05 23:36] CaitlinV39 commented on #1402
Goal: Move away from versioning with dates

[2020-11-05 23:38] #1392 closed

[2020-11-06 04:34] IoTFier commented on #1409
Hi @brendankowitz , I appreciate your input.

I will work thru your input and get back to you.

In the meantime, are there any specific input for setting up the same for FHIR DICOM and DICOMCast locally ?

Thank you.

[2020-11-06 17:41] CaitlinV39 commented on #1409
@StevenBorg @moiradillon12 for input on FHIR DICOM/DICOMCast

[2020-11-08 07:22] ronyv opened #1433 "Search for fetching all Encounters for a Patient not working as expected."
Hi guys,

I've recently implemented the Fhir-Server using Azure app service with cosmos db and imported some data generated from the Synthea project. Data has been posted mainly to the following resources,  Patient, Encounter, Condition etc. The following are the 2 critical issues that i observed once the data import is done.

1. The 'id' present in the resource json was not the one the which was

[2020-11-09 08:54] theGOTOguy opened #1436 "Unhelpful Error Message If Conditional Reference Points to Multiple Records."
**Describe the bug**
If you have a conditional reference that returns multiple results, then the error message indicates that the reference does not resolve to a resource.

**FHIR Version?**
All

**Data provider?**
All

**To Reproduce**
Steps to reproduce the behavior:
1. Create, for instance, duplicate organizations with the same identifier.
2. Attempt to create, for instance, an encounter object

[2020-11-09 23:23] Ivanidzo4ka commented on #1433
1. https://www.hl7.org/fhir/resource.html#id
The logical id is unique within the space of all resources of the same type on the same server. Once assigned by the server, the id is never changed
Yes, according to standard id is something server specific, which we override as soon as resource get posted.
If you want to find your original id, you can either have mapping somewhere, but most of the tim

[2020-11-10 19:09] #1413 closed

[2020-11-10 19:47] #1423 closed

[2020-11-10 22:43] CaitlinV39 commented on #1364
I'm closing this for now as we won't fix in Cosmos DB. THis already works on SQL.

[2020-11-10 22:43] #1364 closed

[2020-11-11 19:08] ronyv commented on #1433
@Ivanidzo4ka Thanks for your response. This was a new knowledge to me. My understanding was that the server will autogenerate an id value only if a value/ id field is not present in the body json. Anyways, now my problem that i am facing is, due to this auto generation of id's, my subject reference mapping between Patient id and other resources are getting screwed up. I am inserting synthea data r

[2020-11-11 19:21] ronyv opened #1442 "Synthea data bundle has subject reference id's prefixed with "urn:uuid:""
Hi Team,

i've recently spun up a fhir-server instance and loaded data generated from synthea project. One thing i noticed after loading the data is that the subject reference of the synthea json data has "urn:uuid:" prefixed which is causing issue while doing the basic search operations. For eg.

[code]
I was expecting something like `Patient/5f339d06-b1d0-366b-8578-1dffecfe4f07` as the value of

[2020-11-12 00:48] Ivanidzo4ka commented on #1433
In my limited knowledge,  bundle sounds like way to go.
If you using SQL server, you can just take json file from Synthea and post it against your server
https://server/,POST, content-type:"application/json" body = Synthea content,  and it should take care of everything. System would ingest data, and return you back new ids for all resources present in bundle.

It's a bit trickier for Cosmos, you

[2020-11-12 18:40] brendankowitz commented on #1389
Verified using a few scenarios using the following, it looks to be generating the correct queries in these situations and returning the expected results.
-  `/Patient?name:exact=KEBER MD\, BARBARA A`
-  `/Patient?name:exact=KEBER MD, BARBARA A`
-  `/Patient?name:exact=KEBER MD`
-  `/Patient?name=KEBER MD`
-  `/Patient?name=KEBER MD, BARBARA A`

[2020-11-12 18:40] #1389 closed

[2020-11-12 20:02] CaitlinV39 commented on #1342
@johnstairs I think you merged a fix for this. Is this still open?

[2020-11-12 20:51] johnstairs commented on #1342
Closing.

[2020-11-12 20:51] #1342 closed

[2020-11-12 21:02] CaitlinV39 commented on #121
@ginalee-dotcom FYI on a GitHub issue for $meta-add

[2020-11-12 21:03] CaitlinV39 commented on #122
@ginalee-dotcom FYI on $meta-remove

[2020-11-12 21:06] CaitlinV39 commented on #577
@devcs21 this has been resolved. Let us know if you have any other issues!

[2020-11-12 21:06] #577 closed

[2020-11-12 21:12] CaitlinV39 commented on #813
@Ivanidzo4ka can we close this?

[2020-11-12 21:13] #813 closed

[2020-11-12 21:17] CaitlinV39 commented on #709
AB#77478

[2020-11-12 21:19] #814 closed

[2020-11-12 21:31] CaitlinV39 commented on #943
@ginalee-dotcom FYI

[2020-11-12 21:37] CaitlinV39 commented on #1179
Right now we aren't going to support this.

[2020-11-12 21:37] #1179 closed

[2020-11-12 21:41] CaitlinV39 commented on #1259
@johnstairs can this be closed?

[2020-11-12 21:42] #1263 closed

[2020-11-12 21:53] johnstairs commented on #1259
Closed.

[2020-11-12 21:53] #1259 closed

[2020-11-12 21:54] CaitlinV39 commented on #1395
@Ivanidzo4ka can we close this one?

[2020-11-12 21:55] #1395 closed

[2020-11-12 21:56] CaitlinV39 commented on #1424
AB#77327

[2020-11-12 21:57] camila8 opened #1446 "Unhelpful error message when trying to post a Research Study"
**Describe the bug**
The error description below is not helpful.

{
    "resourceType": "OperationOutcome",
    "id": "7b21177a664b724b85edc254066d5b9a",
    "issue": [
        {
            "severity": "error",
            "code": "invalid",
            "diagnostics": "Error occurred when parsing model."
        }
    ]
}

**FHIR Version?**
R4

**Data provider?**
Post in postman to our FHIR API

[2020-11-12 22:03] Ivanidzo4ka commented on #762
@brendankowitz it all boils down to this comment:
https://github.com/microsoft/fhir-server/blob/master/src/Microsoft.Health.Fhir.Core/Features/Search/Converters/ResourceReferenceNodeToReferenceSearchValueTypeConverter.cs#L39

I've try to look into original issue for https://github.com/microsoft/fhir-server/pull/996 but there I couldn't find much (maybe I didn't look meticulously enough).

Any chan

[2020-11-12 22:03] brendankowitz commented on #1151
Going to try and summarize our discussion on this:

- The values of a parameter, such as `_type` are on the right-side of the equation, so we will treat them as input data to match against
- `_type` is an enumeration, since we know all possible values, having an invalid value in this array should result in BundleIssue being added (an OperationOutcome included in the resulting bundle)
- We will not

[2020-11-12 22:11] brendankowitz commented on #762
We also don't index the contained resources. For chaining to work on them, I'd imagine we'd need to also enhance that part of it too.

Some interesting discussion on _contained in general here: https://chat.fhir.org/#narrow/stream/179166-implementers/topic/Server.20supporting.20_contained.20searches

[2020-11-12 22:36] brendankowitz commented on #1446
Should be be improved with a recent checkin: #1417

[2020-11-12 22:46] camila8 commented on #1446
We are using the FHIR API in Azure. Did this change make it there yet? If not where should I place this issue so it gets updated in the Azure FHIR API.

[2020-11-12 22:59] brendankowitz commented on #1446
I'm included to close the issue here since this is fixed in our main branch.

I've verified the new diagnostics would be:
[code]

This should be available in the managed service in 1-2 weeks

[2020-11-12 23:12] Ivanidzo4ka commented on #1237
I've test locally and it seems to work now.
We also have tests for chained expression, and separately for string modifiers, and adding tests for both of them sounds like opening Pandora box for other possible combinations.

[2020-11-12 23:43] CaitlinV39 commented on #674
@johnstairs can we close?

[2020-11-13 07:59] brendankowitz opened #1448 "Migrate to .NET 5"
**User story**
Migrate codebase to use .NET 5

- https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?view=aspnetcore-5.0&tabs=visual-studio
- https://docs.microsoft.com/en-us/dotnet/core/compatibility/3.1-5.0

[2020-11-13 16:10] camila8 commented on #1446
great thanks!

[2020-11-13 16:10] #1446 closed

[2020-11-13 20:59] CaitlinV39 opened #1452 "500 when SQL Timeout"
**Describe the bug**
A customer reported that they got a 500 when running a search query, which ended up being a timeout.

**FHIR Version?**
Stu3 (likely other versions)

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Load 100,000 providers into an S1 SQL FHIR Server
2. Run a search to pull all providers
3. Receive a 500

**Expected behavior**
Ideally you would

[2020-11-13 22:50] brendankowitz opened #1453 "Split request telemetry"
**User story**
We should further break-out and investigate the following in request telemetry:

- Conditional-Update as its own sub-type
- Conditional-Create as its own sub-type
- Capabilities as its own sub-type
- Do we double-log? `Bundle-post` + `transition`/`batch`
- Can we log RUs in call

[2020-11-16 01:46] sethuraj opened #1454 "After FHIR server deployment via portal, schema manager is failing to get the current version and stops db update"
After the successful deployment of the FHIR server, I tried the schema-manager current action and it gave these error.
It stopped after creating two tables shown in the screen shot. The tables do not have any record.
The subsequent apply -l also failed.
I tried the same a month ago for my test environment and it just worked fine.
I left the MS Deploy parameter empty. This is a SQL server version.

[2020-11-16 04:02] chgl opened #1455 "Allow deploying the server via Helm using an existing SQL Server as the database"
**User story**
As an operator, I want to deploy the FHIR Server via Helm chart using an existing SQL Server so that I can use infrastructure present in on-premise deployments.

The Helm chart does not allow specifying a custom connection to an existing (potentially out-of-cluster) SQL Server. Currently, only an AzureSqlServer can be configured.

**Acceptance criteria**
1. When I configure the char

[2020-11-16 16:44] CaitlinV39 commented on #1237
Thanks @Ivanidzo4ka

@bikubay - Can you confirm if you are still having this issue? We aren't able to reproduce right now.

[2020-11-16 22:18] feordin commented on #1115
Verified as fixed.

[2020-11-16 22:18] #1115 closed

[2020-11-16 22:32] #600 closed

[2020-11-16 22:56] CaitlinV39 commented on #1454
@rbans96 could you review?

[2020-11-16 22:58] CaitlinV39 commented on #1455
@chgl no issue on our side if you want to put up a PR. Thanks!

[2020-11-16 23:38] rbans96 commented on #1454
@sethuraj  - Was the FHIR server up and running when you hit the current command in the tool? From the error, it seems that the tool could not retrieve the version information that could only happen if the FHIR server is not up.

[2020-11-17 00:19] CaitlinV39 commented on #1421
@pjirsa thank you so much for submitting this. We have labeled this up for grabs and are happy to have someone from the community to make this change. We simply have these as placeholder names.

[2020-11-17 14:31] CaitlinV39 commented on #1421
@pjirsa after discussing further, we would not want to change these in our repo. The reason for the global prefix is taht the roles are scoped to the entire FHIR server. The plan, one day, is to be able to define "slices" that represent a scoped view of a FHIR service. We would also want to be cautious of making this change as it would be breaking for anyone that has already deployed.

Definitely

[2020-11-17 14:31] #1421 closed

[2020-11-17 17:10] CaitlinV39 opened #1458 "500 on Conditional Update"
**Describe the bug**
A customer reported that they are getting a 500 on a conditional update.

**FHIR Version?**
Stu3

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:

The first PUT returns a 201 but subsequent PUTS are returning a 500

**Expected behavior**
Expect for the conditional update to work, or at least a better error describing the issue

**Actual behavio

[2020-11-17 17:11] CaitlinV39 commented on #1458
@brendankowitz & @feordin FYI

[2020-11-17 17:13] CaitlinV39 opened #1459 "Improve error message for bulk export in FHIR batches & transactions"
**User story**
Currently, export requests in batches and transactions will return a 400 because the Accept and Prefer headers cannot be provided. The error message specifies: "Value supplied for the \"Accept\" header is not supported.".

Instead, return Not Supported and update the error message to explain that export operations are not supported in batches and transactions.

**Acceptance criteria

[2020-11-17 17:25] #892 closed

[2020-11-17 20:03] CaitlinV39 commented on #1458
[stacktrace.txt](https://github.com/microsoft/fhir-server/files/5555926/stacktrace.txt)

[2020-11-17 20:05] CaitlinV39 commented on #1458
[task_example.txt](https://github.com/microsoft/fhir-server/files/5555940/task_example.txt)

This is a non-PHI example of the task

[2020-11-17 21:10] #1237 closed

[2020-11-18 18:58] ronyv opened #1467 "405 error while executing transaction Bundle by POST data to the fhir server endpoint"
**Describe the bug**
I am trying to import Synthea data bundles into the fhir-server. I learned that, in order to get the Synthea bundle data inserted into corresponding resource tables, i need to execute a transaction or a batch, by POST it to the server's 'root' endpoint, not the Bundle endpoint. While posting it to the servers root endpoint, i am getting "405 method not allowed" error message.

[2020-11-18 19:00] CaitlinV39 commented on #1467
@ronyv transaction is currently not supported on CosmosDB. If you want to use a transaction bundle, you can use the SQL FHIR Server, otherwise you will need to use a Batch Bundle.

[2020-11-18 19:16] ronyv commented on #1467
@CaitlinV39 Thanks for the response.

Tried to import as Batch Bundle and its working as expected, only to an extend. The issue now i am facing is that since Fhir-Server autogenerates and replaces the resource id's upon insertion, my references from one resource to another is getting broke.

For eg.
Relation between Patient and Encounter is Patient.id === Encounter.subject.reference.
In this case,

[2020-11-18 19:58] CaitlinV39 commented on #1467
@ronyv to be able to specify your own ID, you would need to use a PUT when writing the bundle to the database. A POST will always set an ID. Let me know if that helps.

[2020-11-18 20:08] ronyv commented on #1467
Tried to PUT the data into the fhir server endpoint (ie. https://fhir-server). And got the following error response from the server.

[code]

[2020-11-19 10:27] itye-msft commented on #1404
We are still working on it

[2020-11-19 10:35] holpit opened #1470 "Implement $everything operation roadmap"
**User story**
As a user, I want to retrieve all resources related to a Patient

**Acceptance criteria**
1. When I call https://{fhirserver}/Patient/{resourceId}/$everything
2. I receive a bundle with all resources that have the patient id as subject reference

Fhir documentation:
https://www.hl7.org/fhir/operationdefinition.html
https://www.hl7.org/fhir/patient-operation-everything.html

Working

[2020-11-19 15:50] CaitlinV39 commented on #1470
@holpit we don't have an ETA on when we expect to support this but will update this issue as we make timing decisions. In the meantime, you can make two API calls to get all the details. First you can grab the patient record using /Patient/<ID> and then a second call to retrieve all the patient data using /PAtient/<ID>/*

[2020-11-19 22:49] brendankowitz commented on #1470
Some more context from implementers was discussed here: https://chat.fhir.org/#narrow/stream/179166-implementers/topic/.24everything.20with.20_type

[2020-11-19 23:02] brendankowitz opened #1474 "When using $export?_format=foo an unformatted error message is returned"
**Describe the bug**
When using $export?_format=foo an unformatted error message is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a _format option that is not valid, e.g. `$export?_format=foo`

**Expected behavior**
OperationOutcome with error message of missing format

**Actual behavior**
The OperationOutcome still has text placeholder
[code]

Related to #1422

[2020-11-20 00:51] sethuraj commented on #1454
Hi @rbans96
I installed Fhir server and  the app service was in started status. I couldn't try metadata page , I assume because I need the database script run before that. My FHIR database is empty.
I am going to reinstall this tonight and will let you know.
Thanks
Jay

[2020-11-20 20:28] sethuraj commented on #1454
Hi @rbans96
I reinstalled. WebApp service seems to be running, but I can't access my metadata by url. So not sure whether the server is up and running or not.  The root appservice url is also returning "cant be reached message"

When the FHIR Server is deployed , FHIR database does not have any tables.
![image](https://user-images.githubusercontent.com/933249/99838822-90021180-2b1e-11eb-8e91-97dfc

[2020-11-20 20:52] rbans96 commented on #1454
I see. It seems you are deploying the app service code prior to this release tag - https://github.com/microsoft/fhir-server/releases/tag/build%2F20201111-4. If yes, there was a known issue that the app service does not starts without the schema initialization that could be the reason metadata endpoint could not be accessed.

Just executing the 4.sql would not work. Since migrating the schema by sc

[2020-11-20 21:15] sethuraj commented on #1454
@rbans96
I  have been using the same resource group and the the app service plan that I created separate myself (windows).

This time I created a new resource group. Did the app registration using Powershell commands
New ASP was given in the template to create it during the deployment and its just created everything.

My schema-Manager I ran for version 4 and then I ran the latest.
This time I lef

[2020-11-20 23:55] rbans96 commented on #1454
Awesome, yeah 6 is the latest schema version.

[2020-11-23 11:53] dlouwers opened #1481 "As an Azure API for FHIR user I want to be able to configure the service to use any hostname for resources without using the host header"
**User story**
As an Azure API for FHIR user I want to be able to configure the service to use any hostname for resources without using the host header so that I can run the Azure API for FHIR SaaS behind any reverse proxy usign our own domain name.
The specific use-case that we are running into is using our own SMART on FHIR proxy and making sure that resource links are referring to our domain na

[2020-11-23 20:09] zxue opened #1482 "FHIR OSS Server deployed successfully but the server didn't work."
The deployment (R4) was successful through the portal, but the server returned the error below in Postman when querying the meta. The same error occurred whether or not the authentication was enabled or disabled.

{
    "resourceType": "OperationOutcome",
    "id": "e994affb-5221-447f-adb1-e138096f5856",
    "issue": [
        {
            "severity": "fatal",
            "code": "exception",

[2020-11-23 21:36] CaitlinV39 commented on #1409
@IoTFier I'm going to close this per Brendan's updates above. I have also opened an issue for you in the DICOM repo where you can engage on questions for DICOM: https://github.com/microsoft/dicom-server/issues/443

[2020-11-23 21:36] #1409 closed

[2020-11-23 21:42] CaitlinV39 commented on #1390
AB#77725

[2020-11-23 21:44] CaitlinV39 commented on #1402
AB#77726

[2020-11-23 21:45] CaitlinV39 commented on #1404
AB#77727

[2020-11-23 21:47] CaitlinV39 commented on #1428
AB#77728

[2020-11-23 21:49] CaitlinV39 commented on #1453
AB#77729

[2020-11-23 21:50] CaitlinV39 commented on #1448
AB#77730

[2020-11-23 21:52] #1151 closed

[2020-11-23 22:35] CaitlinV39 commented on #1415
@Ivanidzo4ka - Do you know if were still seeing this after merging #1367 and #1390

[2020-11-23 22:41] CaitlinV39 commented on #1467
@ronyv - You can only POST to the root so you were correct in POST-ing the bundle. But you will need to have PUT requests within the Bundle to maintain the ID. If this doesn't resolve your issue, please send us the bundle you are using and we can take a look.

[2020-11-23 22:45] CaitlinV39 commented on #1418
@andreracz we just recently release _include support on CosmosDB, so believe we can close this but let me know if you have any outstanding items

[2020-11-23 23:22] Ivanidzo4ka commented on #1415
Yes, it's still throw out inner stack, and 500 instead of BadRequest.

[2020-11-24 17:46] CaitlinV39 commented on #1482
@zxue based on the email with Brendan I'm going to close this as resolved. Let me know if you have other questions!

[2020-11-24 17:46] #1482 closed

[2020-11-24 18:02] andreracz commented on #1418
@CaitlinV39, actually, the issue was on my end, but we kept it open because of FHIR not validating the input. This issue can be closed in my point of view.

[2020-11-24 18:12] #1418 closed

[2020-11-30 11:43] emyklebost opened #1488 "Large history results in many physical-partitions and slow\expensive queries."
Because resource versioning is implemented using the document versioning pattern where a new copy is created for every change, the majority of documents and storage space will consist of historical data. When using the CosmosDB backend this will result in many physical partitions and a lot of expensive cross-partition queries, even if the current data (not historical) is small enough to fit within

[2020-11-30 18:46] felixwimmer opened #1490 "Query doesn't work"
We are currently evaluating the MS FHIR Server and have found that it does not support the following query:
Condition?subject:Patient=PATIENT_RESOURCE_ID

But this query should be allowed according to https://www.hl7.org/fhir/search.html:
"This searches for any observations where the subject refers to the patient resource with the logical identifier "23". A modifier is also defined to allow the cl

[2020-12-02 06:04] theGOTOguy commented on #1114
A question with regard to this issue:

I take it from the fact that this issue exists that any Subscription objects created currently don't do anything.  I have confirmed this (lack of) behavior by setting up a dummy REST endpoint and watching for any push notifications sent to the REST endpoint as I create objects on the FHIR server.  But, this is what puzzles me:  If I create a Subscription by p

[2020-12-02 17:58] CaitlinV39 commented on #1481
AB#77955

[2020-12-02 18:21] CaitlinV39 commented on #1490
@felixwimmer we don't currently support resource types as modifiers but are working to support this in an upcoming sprint. We have a duplicate issue with #48 so I am going to close this one as duplicate.

[2020-12-02 18:21] #1490 closed

[2020-12-02 18:26] #674 closed

[2020-12-02 18:58] CaitlinV39 commented on #1306
AB#77959

[2020-12-02 19:00] CaitlinV39 commented on #1308
AB#77960

[2020-12-02 19:02] CaitlinV39 commented on #1309
AB#77961

[2020-12-02 19:03] CaitlinV39 commented on #1310
AB#77962

[2020-12-02 19:05] #1369 closed

[2020-12-02 19:06] #1384 closed

[2020-12-02 19:07] #1402 closed

[2020-12-02 19:09] CaitlinV39 commented on #1433
@ronyv please let us know if you have any additional questions!

[2020-12-02 19:09] #1433 closed

[2020-12-02 19:12] CaitlinV39 commented on #1474
AB#77963

[2020-12-02 19:13] #1467 closed

[2020-12-02 19:14] #1454 closed

[2020-12-02 19:18] CaitlinV39 commented on #1415
AB#77965

[2020-12-02 19:20] CaitlinV39 commented on #1436
AB#77964

[2020-12-02 19:21] CaitlinV39 commented on #1410
AB#77966

[2020-12-03 23:40] CaitlinV39 opened #1496 "500 running joined query on observation and encounter"
**Describe the bug**
Customer hit a 500 error with the following request: https://{{fhirserver}}/Observation?context:Encounter.status=finished. This also errors even when a _count is applied.

**FHIR Version?**
Stu3

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:
https://{{fhirserver}}/Observation?context:Encounter.status=finished

**Expected behavior**
Expect tha

[2020-12-04 18:52] CaitlinV39 commented on #1442
Hi @ronyv did you load this via a bundle or some other way? Thanks!

[2020-12-04 19:15] CaitlinV39 commented on #1488
@emyklebost we don't have any plans to update right now. Are you already experiencing issues? If you have more details please feel free to share here or I'd be happy to have a separate call to discuss.

[2020-12-07 09:27] ronyv commented on #1442
@CaitlinV39 For now, i am handling this programmatically using a custom script written by me for data ingestion. This script basically resolve all "urn:uuid" strings and replace it with appropriate resourcetype values.

[2020-12-08 12:23] emyklebost commented on #1488
We estimate that the number of resources in our fhir-store will stabilize around 30-40 million within a couple of months. After that the historical data will keep increasing as resources are modified and most of it must be kept for decades. We have made some effort to reduce the number of updates:

1. Resources without actual changes won't be updated (PUT is idempotent).
2. Execute multiple change

[2020-12-08 16:26] ellgre opened #1500 "Provenance in header for PUT and POST"
**Question**

According to the hl7 documentation it should be possible to use the header of a PUT or POST in order to create a provenance resource linked to the updated resource see https://www.hl7.org/fhir/provenance.html#header. I have tried to use the x-provenance as described but I cannot find a provenance being generated.

Is this functionality supported in the OSS cosmos solution? If yes cou

[2020-12-08 17:38] brendankowitz commented on #1500
Hi @ellgre, sorry we don't currently support this header

[2020-12-08 17:40] brendankowitz commented on #1448
Requires support from https://github.com/microsoft/healthcare-shared-components/pull/133

[2020-12-09 01:09] rotodd opened #1503 "ArgumentNullException thrown on GET request"
**Describe the bug**
We are seeing [this](https://jarvis-west.dc.ad.msft.net/ADD23BA6) exception in the logs.

The end of the stack trace points to [here](https://github.com/microsoft/fhir-server/blob/master/src/Microsoft.Health.Fhir.CosmosDb/Features/Storage/ResourceTypeAndId.cs), which indicates this could be due to a bug in how the query is constructed for the _include functionality that was ad

[2020-12-09 04:23] brendankowitz commented on #1442
If loaded with a Transaction Bundle I believe this should resolve, note that we only support Transactions with the SQL data provider.

If loaded with a Batch bundle then I think the current behavior is correct, see https://www.hl7.org/fhir/http.html#brules.

[2020-12-09 19:50] Ivanidzo4ka opened #1507 "Authorization mechanism implementation in FHIR server"
**Question**

This is design question.
I'm going through PR, and I notice we put authorization process inside mediator handlers or validator. Which I find a bit weird, for me validation and authorization is two orthogonal processes (same for mediator handler).
Example:
https://github.com/microsoft/fhir-server/blob/119307bbf2c1bb5b19a6068f63d64b8275fbf07f/src/Microsoft.Health.Fhir.Core/Features/Com

[2020-12-09 19:57] brendankowitz commented on #1488
Looks like you've done some good exploration. The conversation of hot/cold data has come up a few times, but something we'll defer on implementing. In early versions of the FHIR Server we even trimmed the search index on history objects to save space, but, there were also cases where search across historic versions is needed, so now its stored as-is.
With the amount of functionality we're still lo

[2020-12-09 19:58] brendankowitz commented on #1488
Closing the issue for now

[2020-12-09 19:58] #1488 closed

[2020-12-09 20:08] brendankowitz commented on #1507
I don't mind the checks being done at the handler level. There are also composite actions/handlers:
https://github.com/microsoft/fhir-server/blob/master/src/Microsoft.Health.Fhir.Shared.Core/Features/Resources/Create/ConditionalCreateResourceHandler.cs

A good point in this case, it does check both read|write, but it might not need to. This handler only needs to check `read` as the `write` will be

[2020-12-09 20:25] Ivanidzo4ka commented on #1507
I've look through the code and it's one pattern everywhere:
[code]

I just not sure it's worth to repeat that line in all handlers if you can just drop condition on top of controller action.

For validator case it's coming from this PR: https://github.com/microsoft/fhir-server/pull/1449/files#diff-eee3e94352c1ddb57665856e586418597ff19474af5470fd2fc8018abf79da04R29

I somewhat understand desire to

[2020-12-11 13:16] johnstairs commented on #1507
We originally were using MVC authorization but moved away from it. The main reasons were that we wanted to decouple authorization from MVC, and wanted to support cases where auth decisions in would be made deeper in the stack. Basically, we would need to use [imperative authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased?view=aspnetcore-5.0#use-imperati

[2020-12-13 12:00] emyklebost commented on #1481
Support for X-Forwarded-PathBase and X-Forwarded-Proto is also applicable to this issue.

[2020-12-14 13:24] Sameer2810 opened #1514 "Pagination - There is no Previous, First and Last links in fhir bundle json response. Only next link is present"
**Question**

We always appreciate your feedback, but we ask that before posting your question, please check to see if we already have the information you need:

* Is your question answered in our documentation? - https://docs.microsoft.com/azure/healthcare-apis/

* Our team also monitors the FHIR Community chat @ http://chat.fhir.org

**Description**
If you cannot find the answer at one of the si

[2020-12-15 12:11] leo9223 opened #1515 "Connecting my EHR to azure FHIR API"
If we have an EHR deployed on my premises, can we make azure API on top of that exposing my EHR's data via azure FHIR api that is hosted on azure?

Is this possible? or is this a legitimate usecase?

[2020-12-15 18:45] johnstairs opened #1517 "AnonymizedExportTests fail locally."
**Describe the bug**
When running all E2E tests locally, the `AnonymizedExportTests` tests fail.

**FHIR Version?**
All

**Data provider?**
All

**To Reproduce**
Run `dotnet test`

**Expected behavior**
Tests pass

**Actual behavior**
See failures like
[code]

[2020-12-15 21:48] brendankowitz commented on #1514
Hi @Sameer2810, correct, currently on Next is supported

[2020-12-15 21:56] brendankowitz commented on #1515
Hi @leo9223, I don't think there is a simple answer. You should checkout https://github.com/microsoft/health-architectures or other resources for architecting in a cloud-based FHIR Server. The FHIR Server for Azure stores data locally by default, so it might be possible to synchronize or use it as an HIE.

If you're looking for a facade that implements the FHIR API over an existing datastore, this

[2020-12-16 04:59] Sameer2810 commented on #1514
Hi @brendankowitz  is there any way to get the pagination thing working. Like is there other way around to get this done or when did we accept the prev, first and last link support

[2020-12-16 12:05] leo9223 commented on #1515
Alright thank you.

[2020-12-16 17:42] #1515 closed

[2020-12-22 08:38] balteravishay commented on #1297
FYI, this issue is also affecting the standard deployment to Azure of FHIR server OSS.
the ARM template sets this parameter to false, causing the solution to initially be at at a fault state, until the config is changed and the app is restarted.

https://github.com/microsoft/fhir-server/blob/7fab70ab5c350926a420e29f56a7046c57c50037/samples/templates/default-azuredeploy.json#L149

[2020-12-22 10:08] giacomodeliberali opened #1538 "Issue with custom IPipelineBehavior"
**Describe the bug**

We added a custom `IPipelineBehavior` that appends the _tenantId_ in the `meta.security` property.

[code]

The creation of the resource randomly fails throwing a null pointer exception at line 53 of `BaseResourceHandler` when trying to generate a new GUID:

https://github.com/microsoft/fhir-server/blob/77dd1cc76ca7e3fea0756631589832b7e5af1aae/src/Microsoft.Health.Fhir.Shared

[2020-12-23 17:23] brendankowitz commented on #1538
Thanks @giacomodeliberali.
There could be a subtle bug in there, possibly the use of `ResourceIdProvider`'s AsyncLocal and having a Scoped lifetime. So at a guess it might be possible for AsyncLocal to go out of context, while the IoC's scoped instance of ResourceIdProvider is still around.

I know the BundleHandler relies on `ResourceIdProvider` to set IDs, so any fix would need to ensure we don'

[2020-12-23 17:46] brendankowitz opened #1550 "Change name of master branch to main (29th Dec)"
**User story**
We will update the name of the git `master` branch to `main` on the 29th Dec.

## Github / Server-side:

- [x] `git branch -m master main`
- [x] `git push -u origin main`
- [x] Update default branch in github settings
- [x] Retarget PRs
- [x] Check builds / tooling

## How to update your local clone ([source](https://twitter.com/xunit/status/1269881005877256192)):
[code]

https://gi

[2020-12-28 21:51] LTA-Thinking commented on #1517
Tests now pass locally.

[2020-12-28 21:51] #1517 closed

[2020-12-28 22:45] brendankowitz opened #1559 "Re-indexing tests fail intermittently"
**Describe the bug**
[Re-indexing](https://github.com/microsoft/fhir-server/blob/8543998bda3a07d1652ebd7fd1fbbb1242a0cba3/test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/Search/CustomSearchParamTests.cs) tests fail intermittently.

**FHIR Version?**
All

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. Without restarting the server, run test multiple times.

**Exp

[2020-12-28 22:56] shmartel commented on #1559
Note: As part of this fix, please re-enable the GivenANewSearchParam_WhenReindexingComplete_ThenResourcesSearchedWithNewParamReturned test that was disabled as part of 1558

[2020-12-30 17:45] #1550 closed

[2020-12-30 23:46] LTA-Thinking opened #1562 "Search fails with empty _type parameter"
**Describe the bug**
When the _type parameter is included in a search but the value is left blank an uncaught error is returned to the user.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Run the search `/?_type=`

**Expected behavior**
A 400 Bad Request operation outcome is returned.

**Actual behavior**
A 500 raw text e

[2020-12-31 17:37] brendankowitz commented on #1319
Story is reopened to address status code corrections.

[2020-12-31 18:23] #1455 closed

[2020-12-31 19:57] LTA-Thinking opened #1563 "Invalid URL returns raw error"
**Describe the bug**
When creating a SearchParameter if the url is not formatted correctly an uncaught error is returned.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. POST this SearchParameter to /SearchParameter
[code]

**Expected behavior**
A 400 Bad Request operation outcome is returned.

**Actual behavior**
A 500 ra

[2020-12-31 21:37] LTA-Thinking opened #1564 "Reindex fails on bad type"
**Describe the bug**
If a reindexed search parameter references a FHIR type that doesn't exist when the reindex job runs it will get a null ref error in the search option factory line 116. This is the same issue as export ran into in #1560.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Create a SearchParameter for an inv

[2021-01-05 06:25] minhdongsss commented on #1037
How about "_sort" by "name"?. Example Organization's name

[2021-01-05 18:49] brendankowitz opened #1566 "Add support for R4 type Canonical => Reference Searches"
**User story**
Add support for the R4 primitive type [Canonical](https://www.hl7.org/fhir/datatypes.html).

**Acceptance criteria**
1. Support is visible at the /metadata endpoint
1. Canonical urls are indexed correctly
1. Verify resources can be searched by QuestionnaireResponse.questionnaire, including ?questionnaire=http://url|version

[2021-01-05 18:49] brendankowitz commented on #1566
Related to #882

[2021-01-05 20:49] mikemassa84 opened #1567 "Pagination broken - Next URL more than 2048 characters"
**Describe the bug**
The "next" url in the link section of a Bundle resource results in a 404 response. I believe this is related to the URL specified as "next" is longer than 2048 characters. In our case, it is 5,399 characters. We are using the Azure API for FHIR.

**FHIR Version?**
R4

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. Send a GET response to `/Enc

[2021-01-06 19:53] feordin commented on #1567
@mikemassa84 Thanks for the bug report.  Could you let me know the Azure API for FHIR account name?  It will be helpful in trying to debug this.

[2021-01-06 20:18] mikemassa84 commented on #1567
@feordin Name is `nma1-s2-fhir`
Let me know if you need anything else.

[2021-01-07 18:39] feordin commented on #1567
@mikemassa84 I have tried to repro your issue, but have not been able to see the same error which you have shown.  We have our service configured to handle Urls of up to 8kb, and Cosmos DB should be generating continuation tokens of up to 4kb.  We then encode those continuation tokens in base64, which would match up with the length you see of 5399.  When I attempt to query your instance with a url

[2021-01-07 22:21] mikemassa84 commented on #1567
@feordin We do have a proxy in front of our fhir api. It is running as an Azure function and simply passes the request through as is. I'll try stepping through that code and see if the function is truncating the continuation token. If that's not the case, I'll have an Azure support ticket opened. My team also has a standing meeting with Microsoft on Fridays, so maybe we can pull you in that way as

[2021-01-07 22:30] mikemassa84 commented on #1567
@feordin I ran our fhir proxy function locally and it worked without issue. The failure is occurring when the proxy is running deployed to Azure.

[2021-01-07 22:35] feordin commented on #1567
I think it would be a great topic to bring up in your standing meeting on Friday.  I saw this documentation (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp) related to HTTP triggers for Azure functions which seem to indicate that the limit for a function url length is 4kb.  It also seems to indicate that it may be configurable in the web.

[2021-01-07 23:29] mikemassa84 commented on #1567
@feordin  You can probably close this as the issue does seem related to the Azure functions being limited by maxQueryStringLength="4096" being set. Not sure if we are able to update that, but I'll reach out to support for it.

I imagine the FHIRProxy MS wrote would encounter the same issue?
[https://github.com/microsoft/health-architectures/tree/master/FHIR/FHIRProxy](https://github.com/microsoft/

[2021-01-08 13:02] marrobi opened #1575 "Docker compose setup does not initialize SQL correctly"
**Describe the bug**
When running the docker compose file, get the error:

```Could not find stored procedure 'dbo.AcquireExportJobs'``` and other errors.

**FHIR Version?**
R4

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Follow instructions at https://github.com/microsoft/fhir-server/tree/main/samples/docker

**Expected behavior**
FHIR server to run.

**Act

[2021-01-08 14:50] mikemassa84 commented on #1567
Do you think it would make sense to ensure the base64 encoded token does not exceed 4kb, since that is what is sent back by calling systems?

[2021-01-11 18:11] #1575 closed

[2021-01-11 18:44] rbans96 commented on #1297
The default value for sqlSchemaAutomaticUpdatesEnabled is false only for CosmosDB server and for SQL Server, the default value is null so that we can choose true/false value as per our requirement.

[2021-01-11 18:45] #891 closed

[2021-01-11 18:46] CaitlinV39 commented on #709
@Ivanidzo4ka @johnstairs Is this issue closed?

[2021-01-11 18:50] CaitlinV39 commented on #882
AB#76852

[2021-01-11 19:26] Ivanidzo4ka commented on #709
I believe it is.

[2021-01-11 19:26] #709 closed

[2021-01-11 22:29] CaitlinV39 commented on #1559
@feordin Is this resolved?

[2021-01-11 22:31] CaitlinV39 commented on #1514
@Sameer2810 We don't currently have this on our roadmap. The only available option is to use Next right now. We will add this to our backlog but we don't have an ETA on when we would resolve.

[2021-01-11 22:33] CaitlinV39 commented on #1507
@Ivanidzo4ka Right now we aren't planning to make any changes so I'm going to close but we can revisit in the future.

[2021-01-11 22:33] #1507 closed

[2021-01-11 22:52] Ivanidzo4ka commented on #762
Let me try to write up my thoughts on what is our options here.
But first is this statement which I think is quite huge.
http://www.hl7.org/implement/standards/fhir/references.html#contained
`Contained resources SHALL NOT contain additional contained resources.`
and
https://fhirblog.com/2013/10/10/fhir-contained-resources/
`the content referred to in the resource reference does not have an indepen

[2021-01-12 17:28] CaitlinV39 commented on #1562
AB#78775

[2021-01-12 17:29] CaitlinV39 commented on #1564
AB#78774

[2021-01-12 19:49] feordin commented on #1567
@mikemassa84 Apologies for the delay in the response.  I wanted to check in with the broader team to confirm making a change.  Yes, we agree that making the continuation token smaller is a good idea, and it is on the backlog to be done.  I am afraid I don't have an ETA on when it will happen.

I am curious if you were able to change the maxQueryStringLength of the azure function and mitigatge the

[2021-01-12 20:56] mikemassa84 commented on #1567
@feordin Unfortunately, I could not find a way to change the maxQueryStringLength setting. I tried using ISS Manager extension for App Service to change the setting of the underlying IIS, but it didn't seem to make any difference. Either the extension doesn't work, I didn't use it properly, or the extension isn't relevant to function apps.

I was able to get in touch with some of the folks who wor

[2021-01-12 22:57] gwatson86 opened #1582 "Using $convert-data operation with Azure API for FHIR"
I am attempting to use the [$convert-data operation](https://github.com/microsoft/fhir-server/blob/main/docs/ConvertDataOperation.md) to convert HL7V2 to FHIR through Postman. I have verified that I can hit the Patient endpoint, so my authorization is OK. But when I try to use the convert data operation, I can only get a 404 response back. I've tried to ensure that my endpoint URI and request body

[2021-01-13 11:47] Vikas-holla opened #1587 "Fire Importer"
Hi,

I have deployed azuredeploy-importer.json for fhir importer for our Azure API for fhir.  I have an issue that bundles are not getting loaded failing with the error.

"AADSTS50059: No tenant-identifying information found in either the request or implied by any provided credentials.

I found this error message in fhirBundleBlobTriger monitor. Can you please tell me what went wrong.

Thanks and

[2021-01-13 17:37] brendankowitz commented on #1582
@ranvijaykumar, @moria97 can you help with this

[2021-01-13 17:39] brendankowitz commented on #1587
Hi @Vikas-holla, this sounds like it is part of fhir-server-samples, that that correct?

[2021-01-13 17:58] Vikas-holla commented on #1587
Yes thats correct @brendankowitz .

[2021-01-13 20:37] ranvijaykumar commented on #1582
Currently, $convert-data operation is only available in FHIR Server for Azure. We are expecting it to be available in Azure API for FHIR by the end of this month. Can you point us to the documentation that indicates that it is also available in Azure API for FHIR? We will fix that.

[2021-01-13 20:54] gwatson86 commented on #1582
@ranvijaykumar Thank you for the update. Here is where we were led to believe that the operation was available in Azure API for FHIR. The mixed messaging in the documentation led to our confusion.

![image](https://user-images.githubusercontent.com/42220448/104509323-21d24c00-55af-11eb-868e-0b4f75d57653.png)

![image](https://user-images.githubusercontent.com/42220448/104509355-2dbe0e00-55af-11eb-

[2021-01-14 02:27] ranvijaykumar commented on #1582
Thanks. I have created a PR in the converter repo to update the documentation. https://github.com/microsoft/FHIR-Converter/pull/182

[2021-01-14 02:27] #1582 closed

[2021-01-14 19:02] johnstairs opened #1594 "Backwards compat broken with earlier schema versions."
**Describe the bug**

We've added new versions of the `UpsertResource` stored procedure (_2, more in open PRs), but we are always invoking VLatest, which would be _2 in your PR. And that procedure won't be there if we are running schema version, say, 6.

Regression added my me in https://github.com/microsoft/fhir-server/pull/1497

**FHIR Version?**
All

**Data provider?**
SQL Server

**To Reproduc

[2021-01-14 23:02] LTA-Thinking opened #1596 "Export fails when multiple types are given"
**Describe the bug**
When an export job with the _type parameter and multiple types the job will export no resources.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. <server>/$export?_type=Observation,Encounter

**Expected behavior**
All the listed resource types are exported.

**Actual behavior**
No resources are exported

[2021-01-14 23:13] LTA-Thinking commented on #1596
This was caused by the typeFilter feature which changed the way _type was parsed.

[2021-01-15 17:41] #1596 closed

[2021-01-16 23:24] chgl commented on #1448
Do you have/plan on adding performance benchmarks for the server? A before/after comparison for this migration would be neat.

[2021-01-19 03:17] jeanluc-morin opened #1604 "Resource load performance significantly decreases as SQL database grows"
We observed that the number of resources per minute we can import decreases as the SQL Server database size increases. We are importing patients resources and as the number of patient increases, performance goes down significantly. Initially, we imported more than 1,500 resources/min but now, we are down to 100 resources/min. Is it normal? Is there any tricks to support larger set of data?

I saw

[2021-01-19 13:29] johnstairs commented on #1604
How large is your database (approximate GB and number of resources)? Are you performing sequential or parallelized inserts? Is this running in Azure SQL and if so, what SKU?
We have plans to improve insert throughput by providing a bulk import capability, optimizing transactional bundles, and also adjusting some of the database indexes. These will address the primary bottleneck that we have encoun

[2021-01-19 18:54] CaitlinV39 commented on #1566
AB#76717

[2021-01-19 19:01] CaitlinV39 commented on #882
AB#76852

[2021-01-19 19:08] CaitlinV39 commented on #1306
AB#77959

[2021-01-19 19:09] CaitlinV39 commented on #1474
AB#77963

[2021-01-21 16:07] jeanluc-morin commented on #1604
DB size: 430MB
A little less than 400,000 resources (2/3 are history)
We have a process picking data from a file and converting it into FHIR resources and then calling the FHIR-server to add it. It's done sequentially as the order is important.
We removed most of the search params to keep the amount of data imported and database size as minimal as possible

In this specific scenario, we came from

[2021-01-21 18:22] johnstairs commented on #1604
I see. The update scenario is admittedly one we have not optimized for. I will take a look at this and see what we can do. Thanks for raising the issue.

[2021-01-21 20:16] jeanluc-morin commented on #1604
Thanks for the quick response John.

In case it could help, We added an extra index on the Resource table with the ResourceId, ResourceTypeId, IsHistory columns. It helped with the stored procedure trying to find if the resource already exists.

[2021-01-22 17:39] brendankowitz commented on #882
Spec issue that may affect this in future: https://jira.hl7.org/browse/FHIR-30514

[2021-01-22 18:39] CaitlinV39 commented on #870
Closing this issue because it will be covered as part of the further development for profile & validation.

[2021-01-22 18:39] #870 closed

[2021-01-25 01:25] ranvijaykumar commented on #1582
@gwatson86 , the $convert-data is available on Azure API for FHIR now. You can see the documentation here: https://docs.microsoft.com/en-us/azure/healthcare-apis/convert-data

[2021-01-25 22:25] CaitlinV39 commented on #890
@CaitlinV39 link this in VSTS

[2021-01-25 22:26] CaitlinV39 commented on #1563
@CaitlinV39 add this into custom search Epic

[2021-01-26 00:49] uxbridgeroad opened #1613 "Restrict which records / rows an API user can access based on the user's affiliation to an organisation."
User story
As an MS FHIR Server admin, I want to be able to restrict which records / rows an  API user can access based on the user's affiliation to an organisation.

For example in Patient.managingOrganization (Organization that is the custodian of the patient record), an authenticated API User, with an affiliation to the Patient.managingOrganization that is the custodian of the patient record ca

[2021-01-26 01:01] #48 closed

[2021-01-26 01:03] CaitlinV39 commented on #1297
The resolution for this has been merged so closing this item.

[2021-01-26 01:03] #1297 closed

[2021-01-26 01:05] CaitlinV39 commented on #762
AB#78815

[2021-01-26 01:09] CaitlinV39 commented on #1404
AB#77727

[2021-01-28 00:51] anyname2 commented on #1613
I would be interested in similar functionality on a more granular level: `CareTeam`, `PractitionerRole`. Something like RBAC derived from FHIR resources.

But, AFAIK, there is no specification for AuthZ on FHIR. Maybe some kind of generic solution is possible? Where an admin could upload a policy file defining which roles are allowed to view/edit which resources and within what scopes (compartment

[2021-01-29 00:31] #882 closed

[2021-01-29 00:41] brendankowitz opened #1619 "ReindexJobTaskTests UnitTests have intermittent failures"
**Describe the bug**

When running Unit tests (seen sometimes in CI), these ReindexJobTaskTests occasionally fail

[code]

[2021-01-29 15:25] namadabu opened #1620 "Empty file might be created at then end of export"
**Describe the bug**

During export once we reach a certain file size limit we create a new file for that resource type (to write subsequent resources to). But if there are no resources of that type to export, then we will have created an empty file. We should avoid creating an empty file.

[2021-01-29 19:19] #1474 closed

[2021-01-29 20:48] CaitlinV39 commented on #1500
AB#79231

[2021-01-30 22:07] chgl opened #1623 "SQL Server Connection string is not valid error starting in version 1.0.753"
**Describe the bug**

When upgrading from version `1.0.732` to `1.0.753` a `Microsoft.Data.SqlClient.SqlException (0x80131904)` is thrown stating that the previously working connection string is invalid (`provider: TCP Provider, error: 25 - Connection string is not valid`). See [fhir-server-sqlexception.txt](https://github.com/microsoft/fhir-server/files/5898798/fhir-server-sqlexception.txt)

The

[2021-02-01 18:43] CaitlinV39 opened #1628 "Conditional Delete"
**User story**
As a user of the FHIR Server, I would like to be able to leverage Conditional Delete, where I can delete resources based on some passed condition and the item is deleted if that item is found.

https://www.hl7.org/fhir/http.html#3.1.0.7.1

The spec includes an option of:

In this case we should return a `412` and not delete multiple matches.

**Acceptance criteria**
I can specify cr

[2021-02-01 23:15] johnstairs commented on #1604
Hi @jeanluc-morin, I think I may need some more information from you. I have a database running locally here with 58 million resources and `PUT` operations measured from the client are taking 30-50ms. I haven't made any changes to indexes.
This is all running on my local development workstation, so of course the numbers would be different running in the cloud, depending on specs.
Are you finding a

[2021-02-02 18:39] brendankowitz commented on #1623
@rbans96, @johnstairs can you look into this?

[2021-02-02 20:23] CaitlinV39 commented on #695
I am going to close this issue. Right now the best place to see our supported features are https://docs.microsoft.com/azure/healthcare-apis/fhir-features-supported. We don't have a roadmap slide, but do use the issues here to track what we are currently working on with milestones assigned. I'm always happy to connect on specific features or track specific features in their own issues.

[2021-02-02 20:23] #695 closed

[2021-02-02 20:29] CaitlinV39 commented on #1267
AB#77958

[2021-02-02 20:30] #1313 closed

[2021-02-02 20:31] #1378 closed

[2021-02-02 20:33] CaitlinV39 commented on #1442
@ronyv I'm going to close this issue based on Brendan's feedback but please let us know if you need anything else!

[2021-02-02 20:33] #1442 closed

[2021-02-02 20:35] CaitlinV39 commented on #1514
AB#79319

[2021-02-02 20:38] CaitlinV39 commented on #1538
AB#79320

[2021-02-02 20:41] CaitlinV39 commented on #1563
AB#79321

[2021-02-02 20:42] #1620 closed

[2021-02-02 21:00] CaitlinV39 commented on #1613
@uxbridgeroad right now we don't have a solution for fine-grain access control within the FHIR Server. We have this in our backlog but no timeline on when we would address it. We have an architect team that works with the FHIR Server and they have created a proxy that will help with some scenarios. You can see details of that here: https://github.com/microsoft/health-architectures/tree/master/FHIR

[2021-02-02 21:22] mmacagno opened #1631 "self url is incorrect for bundle results using continuation token"
**Describe the bug**
When requesting a "next" bundle result set with continuation token, the resulting "self" url is not consistent with the expected value.

**FHIR Version?**
R4

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. Query for a paginated result set, e.g. {{fhir_uri}}/Device?_count=10
2. Query for the "next" result set, e.g. {{fhir_uri}}/Device?_count=1

[2021-02-02 23:19] CaitlinV39 commented on #1567
AB#78736

[2021-02-03 00:17] rbans96 commented on #1623
I am able to deploy 1.0.754 tag in aks using the below steps:
1. Provision Azure Kubernetes Cluster
2. Run the following commands:
$SQL_PASSWORD = <password>
Import-AzAksCredential -ResourceGroupName <rg-name> -Name <cluster-name>
3. Follow the instructions here to deploy a SQL container:
https://docs.microsoft.com/en-us/sql/linux/tutorial-sql-server-containers-kubernetes?view=sql-server-ver15
4.

[2021-02-03 12:20] chgl commented on #1623
Thank you @rbans96 !

It's starting to look like an SQL-Server issue on my side, the following *should* reproduce the issue but doesn't:

[code]

I still can't explain why it would suddenly happen. I see that 1.0.753 updated the SqlClient library ([Bump Microsoft.Data.SqlClient from 2.0.1 to 2.1.1](https://github.com/microsoft/fhir-server/releases/tag/release%2F1.0.753)) but there are no breaking

[2021-02-03 17:47] CaitlinV39 commented on #1594
@johnstairs  - Can I close this issue?

[2021-02-03 18:41] LTA-Thinking opened #1634 "Empty Group exports all Patients"
**Describe the bug**
When performing a Group export, if the Group has no members then all Patients are exported.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Insert an empty group:
[code]
2. Perform a Group export: `/Group/<id>/$export`

**Expected behavior**
No resources are exported.

**Actual behavior**
All Patients

[2021-02-03 19:00] johnstairs commented on #1594
@CaitlinV39 yes. Closing.

[2021-02-03 19:25] CaitlinV39 commented on #1634
AB#79361

[2021-02-03 21:39] CaitlinV39 commented on #1562
AB#78775

[2021-02-03 22:57] Ivanidzo4ka commented on #1619
I also see this error:
[code]

[2021-02-04 09:04] uxbridgeroad commented on #1613
@CaitlinV39 , Thanks for the update. I had look at the FHIRProxy previously but the required granularity was not there at that time. I will will investigate again and see if it can help.
Regarding the backlog and timelines, is there any visibility of this on GitHub? We are using MS-FHIR in a major project and it would really help to be able to align our releases with expected delivery of backlog i

[2021-02-04 19:10] LTA-Thinking opened #1640 "Export job hangs if storage account connection fails"
**Describe the bug**
When an export job is run and the initial connection to the storage account fails the job will hang, never reaching a terminal state.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a server with invalid storage account connection properties
2. Run an export job
3. Check the job record in the dat

[2021-02-04 19:12] LTA-Thinking commented on #1640
This is caused because when the job attempts to update the record to report the failure it hits a null ref with the request context. This is because the request context is created after the initial storage account connection (ExportJobTask, line 129 & 132).

[2021-02-04 19:27] CaitlinV39 commented on #1640
AB#79393

[2021-02-05 00:09] CaitlinV39 opened #1642 "Failed to extract the values using '%resource.referenceSeq.referenceSeqId' against 'Hl7.Fhir.ElementModel.PocoElementNode'"
**Describe the bug**
Failed to extract the values using '%resource.referenceSeq.chromosome' against 'Hl7.Fhir.ElementModel.PocoElementNode'.

Failed to extract the values using '%resource.referenceSeq.referenceSeqId' against 'Hl7.Fhir.ElementModel.PocoElementNode'

**FHIR Version?**
R4

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Came from logs. The VSTS item has more details. Looks l

[2021-02-05 00:09] CaitlinV39 commented on #1642
AB#79273

[2021-02-05 00:10] CaitlinV39 commented on #1642
@brendankowitz can you add details to reproduce?

[2021-02-05 00:29] CaitlinV39 commented on #1613
@uxbridgeroad right now the best way is to just see the activity on the repo. I know that isn't a very satisfying answer but we continue to reprioritize features based on what we hear from customers and our roadmap changes. For big features, we are typically pushing PRs adding features for a bit. Right now you can see that we are adding support to define search parameters and also supporting some

[2021-02-08 20:21] chgl commented on #1623
Not sure if it's good or bad news, but it seems like it is in fact related to the `Microsoft.Data.SqlClient 2.0.1 -> 2.1.1` update. I've downgraded the dependency and build and deployed the image (from the latest commit) and it works without issues. See https://github.com/microsoft/fhir-server/compare/main...chgl:downgraded-sql-client?expand=1, the image is `ghcr.io/chgl/fhir-server:downgraded-sql

[2021-02-08 20:21] #1623 closed

[2021-02-08 21:03] CaitlinV39 commented on #1631
@mmacagno thank you so much for providing these details. We will investigate and get back to you

[2021-02-08 21:07] CaitlinV39 commented on #1317
@dlouwers I'm so sorry for the delay. If you are having issues with the managed service, definitely feel free to open a ticket through the portal and it can be routed. We have a solution for the open source but support may be able to help you work through your specific example with the Azure API For FHIR.

[2021-02-08 21:07] #1317 closed

[2021-02-08 21:10] CaitlinV39 commented on #890
This may be related to AB#78977

[2021-02-08 21:32] CaitlinV39 commented on #1410
Closing for now because we dont plan to leverage crucible moving forward.

[2021-02-08 21:32] #1410 closed

[2021-02-08 21:37] CaitlinV39 commented on #1564
AB#78774

[2021-02-09 00:47] CaitlinV39 commented on #1500
@ellgre - We recently merged support for this header. Please let us know if you have any additional questions!

[2021-02-09 00:47] #1500 closed

[2021-02-11 16:58] brendankowitz commented on #1538
@giacomodeliberali we have merged a PR that should have addressed this, can you verify if this is resolved for you?

[2021-02-11 19:20] CaitlinV39 commented on #1448
This has been completed so closing this issue.

[2021-02-11 19:20] #1448 closed

[2021-02-12 16:36] cashman04 opened #1660 "Unable to deploy ARM template using FhirServerSqlServer"
If I use the template found [here](https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2FMicrosoft%2Ffhir-server%2Fmaster%2Fsamples%2Ftemplates%2Fdefault-azuredeploy.json) either through powershell or manually in the portal, I get the following error if I set the solutionType to FhirServerSqlServer:

    Deployment template validation failed: 'Template p

[2021-02-12 18:34] cashman04 commented on #1660
After more testing: This seems to be an issue with the latest version of the ARM template when CosmosDB was added.  I can go back to an earlier template before CosmosDB and it works fine.

[2021-02-16 16:32] ellgre opened #1667 "The FHIR element 'canonical' is not supported."
We are running on a version of Microsoft FHIR server from July last year due to some issues upgrading the server since we were not running on Azure. We are now running on Azure with the old version for the Fhir server.

Now we have an issue we only see in production. We are getting a lot of warnings with the following text **_"The FHIR element 'canonical' is not supported."_** when we are running

[2021-02-16 19:21] CaitlinV39 commented on #1538
@giacomodeliberali  I'm going to close this but please let us know if you have any additional questions

[2021-02-16 19:22] #1538 closed

[2021-02-16 19:25] CaitlinV39 commented on #1619
AB#79656

[2021-02-16 19:26] CaitlinV39 commented on #1631
AB#79657

[2021-02-16 22:39] brendankowitz commented on #1660
I think there is a bug here, it looks like it might be caused by one of the required parameters not having the value set properly:
![image](https://user-images.githubusercontent.com/197221/108130444-8710d580-7064-11eb-8579-c9508f663b65.png)

[2021-02-16 23:42] CaitlinV39 commented on #1667
@ellgre Thank you so much for sending this. Can you provide a bit more details? When did you start seeing this issue? Did you make any changes around that time? We're trying to make sure we follow the chain of events to help figure out where this would have come from. Thanks!

[2021-02-17 13:04] ellgre commented on #1667
We started seeing these issues as soon as we started using the webJobs in Azure in January this year, and we see the warning for all of them. One webJob is securing that 25.000 practitioners are updated daily, another is adding persons and patients from our national registry, another is keeping the persons and patients updated. There is appoximately 10 million persons and patients in the database.

[2021-02-17 18:10] brendankowitz commented on #1667
I'd say you most likely have resources with `Meta.profile` fields. When the search indexer finds a datatype where it can't convert from the model type (`Canonical`) to the search type (`Uri`) then the warning you are seeing is generated (`The FHIR element 'canonical' is not supported.`). We [recently](https://github.com/microsoft/fhir-server/releases/tag/release%2F1.0.800) merged support for canon

[2021-02-17 19:36] cashman04 commented on #1660
Yes, that is the offending line.  It seems like the first half of an if statement was set that returns a bool of false, but the else isn't set which then returns a string.  I have fixed this by running a local copy of the template and just hard coding a false value.

[2021-02-17 23:37] #1562 closed

[2021-02-18 07:26] ellgre commented on #1667
You are correct that we have meta.profile fields. Thank you for your advice we will look into which alternativ we prefer.

[2021-02-18 07:26] #1667 closed

[2021-02-18 17:22] mmacagno opened #1673 "Health endpoint for FHIR API"
**Question**

What is the proper health endpoint for the FHIR API Server?

**Description**

Our cloud infrastructure has FHIR API Server (OSS) as back-end storage for medical data.
A set of microservices have a dependency on it.
Each service has HealthChecks defined for FHIR pointing to the capability statement (/metadata).
I tried to use /healthz but it's not a valid url.

Is there an appropriate

[2021-02-18 17:24] mmacagno commented on #1673
I found the answer looking at the other issues.

/health/check is the right endpoint.

Closing this...

[2021-02-18 17:24] #1673 closed

[2021-02-18 18:53] brendankowitz opened #1674 "Fix Nuget package metadata"
**Describe the bug**
When inspecting our current packages with Nuget Package Explorer, some metadata is not being set properly.

![image](https://user-images.githubusercontent.com/197221/108406258-045c5780-71d7-11eb-8ad4-f5e6edc74881.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open a FHIR package with Nuget Package Explorer

**Expected behavior**
Metadata should be valid, this was r

[2021-02-18 22:28] brendankowitz opened #1677 "Review Bundle resolution rules"
**User story**
An item has been created to clarify resolving bundle references ([FHIR-29271](https://jira.hl7.org/browse/FHIR-29271)). We should review our current implementation to see if any improvements should be recommended.

[2021-02-19 17:30] #1563 closed

[2021-02-19 17:31] #1634 closed

[2021-02-19 17:42] Ivanidzo4ka opened #1681 "Doc generation throw error"
**Describe the bug**
If I put <GenerateDocumentationFile>true</GenerateDocumentationFile> into https://github.com/microsoft/fhir-server/blob/main/Directory.Build.props build would start throw errors regarding absence of documentation.

**Expected behavior**
Build works fine.

[2021-02-19 19:51] #1674 closed

[2021-02-23 16:36] #1640 closed

[2021-02-23 16:37] CaitlinV39 commented on #1681
AB#79888

[2021-02-23 16:38] johnstairs opened #1690 "Date queries are not handled efficiently with Cosmos DB provider"
**Describe the bug**
A clear and concise description of what the bug is.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of what actually happened.

[2021-02-23 16:38] CaitlinV39 commented on #1677
AB#79893

[2021-02-23 16:39] CaitlinV39 commented on #1660
AB#79894

[2021-02-24 15:20] dhmderuiter opened #1694 "Support for LastN in observations"
Does the current release support the LastN operation in observations? For a description about this operation, please see: http://hl7.org/fhir/STU3/observation-operations.html#lastn

The operation is not mentioned yet in the Azure documentation: https://docs.microsoft.com/nl-nl/azure/healthcare-apis/fhir-features-supported

[2021-02-24 20:36] CaitlinV39 commented on #1694
@dhmderuiter We currently do not have lastn in our FHIR Server. We are investigating now when we would support this. Currently thinking is that we would have it available sometime int he next 6 months, but that is not confirmed.

I'll leave this open to track updates.

[2021-02-24 20:50] CaitlinV39 commented on #1694
AB#77555

[2021-03-02 17:26] luckyluc74 opened #1708 "Documentation on how to configure fhir-server with cosmosdb"
Where can I find documentation on how to configure fhir-server (not Azure Fhir service) with Azure cosmosdb?

In my case I currently run microsoft fhir-server as micoservice in azure aks (kubernetes) configured to sqlserver, but I would like to configure it using Azure cosmosdb.

[2021-03-02 21:07] CaitlinV39 commented on #1708
@luckyluc74 This guide will give details on deploying on Azure in the portal: https://github.com/microsoft/fhir-server/blob/main/docs/QuickstartDeployPortal.md

The template allows for you to select SQL or Cosmos so you can fill in the Cosmos requirements and ensure that the **Solution Type** field is set to FhirServerCosmosDB

Let me know if you have additional questions.

[2021-03-03 09:31] furyd opened #1714 "Support for multi-tenant applications"
**User story**
As a provider of services, I want the capacity to select a data store on a per-request basis so that multiple tenants may use the same service whilst maintaining separate data stores.

**Acceptance criteria**
1. When users from clients A and B both make a request to the same endpoint, A's request should use datastore ADatabase and B's BDatabase.
2. When the service starts up, initia

[2021-03-03 17:41] CaitlinV39 commented on #1714
@furyd It sounds like Azure Traffic Manager might be the solution you are looking for. You can read more about that here: https://docs.microsoft.com/en-us/azure/traffic-manager/

We also have a team that has built a proxy that can help with some pre-processing steps outside of the actual FHIR server. You can read more about their solution here: https://github.com/microsoft/health-architectures/tre

[2021-03-03 17:41] #1714 closed

[2021-03-04 11:48] furyd commented on #1714
Hi @CaitlinV39, thank you for responding - I may not have explained myself very well (lack of sleep!)

What we're looking at is providing a single FHIR server, backed by several SQL databases - one per customer - so we have data isolation.

Which database is determined at time-of-request, however the current codebase expects a single database as there are non-request based activities (e.g. init an

[2021-03-04 21:24] mattkoch614 opened #1718 "error: 40 - Could not open a connection to SQL Server when debugging"
**Question**

Is this project compatible with Visual Studio on Mac? I get an error related to SQL Server when I try to debug.

**Description**
I cloned the repo, set the `Microsoft.Health.Fhir.R4.Web` project as the startup in Visual Studio for Mac (8.8.4) and hit Debug. It built successfully after installing the .NET SDK 5.0.103, but won't make it past this part on my machine. Am I missing a step

[2021-03-05 10:03] ellgre opened #1723 "Upgrading Microsoft FHIR Server from an old version to the newest"
We are planning to upgrade Microsoft FHIR Server. We are at the moment running on a version based on Build 20200708-1 and we are planning to upgrade to the latest release which is v1.0.829. Would you recommend us to upgrade to the newest version directly, or should we upgrade stepwise via other versions in order to secure success? If we should do a stepwise upgrade, which releases should we upgrad

[2021-03-06 18:58] emyklebost opened #1725 "X-Correlation-ID request-header is not respected"
**User story**
As an API-consumer, I want the fhir-server to use the x-correlation-id header I include in my requests so that I can use it to track requests across systems and logs.

The fhir-server's current behavior is to generate a new random correlation-id on every request-handling regardless of the incoming request's x-correlation-id header.
[Link to current correlation-id provider](https://g

[2021-03-06 19:15] emyklebost opened #1726 "Support for handling=strict/lenient in Prefer header"
**User story**
As an API consumer, I want to be able to force strict handling of unknown or unsupported parameters so that queries don't result in unexpected results or behavior, e.g. due to typos by the user.

This is an optional feature of the FHIR specification, [see section about Unknown and unsupported parameters](https://www.hl7.org/fhir/search.html#errors).

**Acceptance criteria**
1. When

[2021-03-07 20:01] mattkoch614 commented on #1718
If anyone else runs into this, I had to do a few things to get this working locally. I can't run CosmosDB in an emulator on the Mac, since it isn't supported, based on #595.

1. Set `Microsoft.Health.Fhir.R4.Web` as the startup project.
2. Install SQL server in a Docker container and run it (Used this as a guide: https://www.twilio.com/blog/using-sql-server-on-macos-with-docker)
3. Edit `src/Micro

[2021-03-07 20:01] #1718 closed

[2021-03-08 12:54] anyname2 commented on #1382
I have just ran into the same issue. I can see there was a PR to fix it: #1386.
@brendankowitz,  what was the reason it has been closed and not merged?

[2021-03-08 18:24] brendankowitz commented on #1726
Thanks @emyklebost. This is already in our backlog #1050, we do intent to support this, however I'm not sure which milestone this will make it in.

[2021-03-08 18:32] brendankowitz commented on #1725
The `X-Request-Id` is always assigned by the server in a response.

The spec outlines:
**X-Request-Id**: A unique id to for the request/response assigned by either client or server. Request: assigned by the client. Response: assigned by the server
**X-Correlation-Id**: A client assigned request id echoed back in the response

References:
- https://www.hl7.org/fhir/http.html#custom
- Example: https

[2021-03-08 18:56] emyklebost commented on #1725
I see that the fhir-specification does not define the use of correlation-id like I'm used to using it.
I was not aware the mentioned custom-headers-in-log feature, I will have to look into that, combined with x-request-id it seems to suitable for our use case.

However, I'm not able to get the x-request-id header to work as described, am I missing something?
![image](https://user-images.githubuser

[2021-03-08 22:39] #1726 closed

[2021-03-08 22:40] emyklebost commented on #1726
duplicate #1050

[2021-03-09 15:16] mattkoch614 commented on #1459
Hi @CaitlinV39 - Can you provide an example of a request URI a user would make that results in this 400?

Are you referring to export as defined here: http://hl7.org/fhir/us/bulkdata/2019May/export/index.html ?

[2021-03-09 23:49] #1690 closed

[2021-03-10 17:32] Ivanidzo4ka commented on #1660
In case of the SQL deployment we want you to make deliberate choice of how to handle schema updates, that's why it fails during validation.

[2021-03-10 20:19] CaitlinV39 commented on #1725
@emyklebost - We just merged a resolution for this. Please let us know if there is anything else that you need! For now I will close but we can always reopen.

[2021-03-10 20:21] #1723 closed

[2021-03-10 20:21] #1708 closed

[2021-03-10 21:47] Ivanidzo4ka commented on #1300
Considering fractions is decimal, it's a bit tricky to bump it from 0.5 to 0.5009999 (and why not 0.5999999?) in general case. How many digits we need to care about? (I mean it can be 0.5 or 0.58 or 0.567 do we need to handle all of them, or we should stop at some point?)

Can we ignore fractions of second and do search in seconds range? I mean for this example to have
[code]

[2021-03-10 22:16] Ivanidzo4ka commented on #1300
_lastUpdated says it should use date:
https://www.hl7.org/fhir/search.html#date
It says it can be one of the three thing:

type| description
-- | --
date | The range of the value is the day, month, or year as specified
dateTime | The range of the value as defined above; e.g. For example, the date 2013-01-10 specifies all the time from 00:00 on 10-Jan 2013 to immediately before 00:00 on 11-Jan 2013

[2021-03-10 23:00] #580 closed

[2021-03-10 23:17] CaitlinV39 commented on #1309
AB#77961

[2021-03-10 23:18] CaitlinV39 commented on #1310
AB#77962

[2021-03-10 23:19] CaitlinV39 commented on #1390
AB#77725

[2021-03-10 23:20] CaitlinV39 commented on #1415
AB#77965

[2021-03-10 23:20] CaitlinV39 commented on #1428
AB#77728

[2021-03-10 23:21] CaitlinV39 commented on #1436
AB#77964

[2021-03-10 23:22] CaitlinV39 commented on #1453
AB#77729

[2021-03-10 23:23] CaitlinV39 commented on #1458
@johnstairs I think this was resolved in your PR. Can I close?

[2021-03-10 23:24] CaitlinV39 commented on #1481
AB#77955

[2021-03-10 23:25] CaitlinV39 commented on #1503
@johnstairs I think you resolved this. Can we close?

[2021-03-11 01:00] brendankowitz opened #1738 "Remove legacy SearchIndexer classes"
**User story**
We have moved to the [TypedElementSearchIndexer](https://github.com/microsoft/fhir-server/blob/main/src/Microsoft.Health.Fhir.Core/Features/Search/TypedElementSearchIndexer.cs), which is now used by default. It is time to remove the old [SearchIndexer](https://github.com/microsoft/fhir-server/blob/main/src/Microsoft.Health.Fhir.Shared.Core/Features/Search/SearchIndexer.cs), related

[2021-03-11 01:18] #1503 closed

[2021-03-12 00:13] Ivanidzo4ka commented on #1256
https://github.com/FirelyTeam/firely-net-sdk/issues/1653
It doesn't count as a bug.

I've created PR to add required fields to resource (and meta field)

[2021-03-12 01:25] mattkoch614 commented on #182
This issue is pretty old, is it still a problem that needs fixing? I had to Google what WeakETag means :)

[2021-03-12 03:54] namadabu commented on #103
@CaitlinV39 I haven't yet looked into this as part of my current feature work. Not sure about others.

[2021-03-12 12:52] anyname2 commented on #893
How does search on `Timing`  supposed to work?
The spec seems a bit vague:

There are 2 places where `outer limits` can be inferred from:
1. `Timing.event` would result in range `[min(.), max(.)]` equivalent to `effectivePeriod`
2. `Timing.repeat.boundPeriod` which is equivalent to `effectivePeriod`

Did I interpret the spec correctly?

[2021-03-12 16:30] sasireha opened #1742 "CarePlan doesn't support the search params activity-goal, activity-outcomereference and activity-medicaldevice"
**Describe the bug**
When we retrieve CarePlan resource using the following query
[code]
Fhir server does not support the following search parameters
- activity-goal
- activity-outcomereference
- activity-medicaldevice

**FHIR Version?**
Stu3

**Data provider?**
SQL Server

**Expected behavior**
Should be able to retrieve CarePlan with the above listed search params.

**Actual behavior**
Throws fo

[2021-03-12 17:06] CaitlinV39 commented on #1742
@sasireha These search parameters are not standard search parameters for the CarePlan type. You can find the list here: http://hl7.org/fhir/STU3/careplan.html#search

We are working to support defining your own search parameters, and once that feature is available you could add these to your database. We are tracking that in issue #768

I'm going to close this for now, but if you have additional q

[2021-03-12 17:06] #1742 closed

[2021-03-12 20:14] uxbridgeroad commented on #1231
@CaitlinV39 , just to confirm that this is one of the issue we were discussing earlier today with Marc and yourself.
We are planning for our next couple of sprints and it would be great to be able to align with an expected completion date for this.

[2021-03-12 20:16] uxbridgeroad commented on #1613
@CaitlinV39 , just to confirm that this is one of the issues we were discussing earlier today with Marc and yourself.

[2021-03-13 11:46] emyklebost commented on #1725
Hi, I'll mention it here before instead of opening a new issue.
As suggested by @brendankowitz I'm trying to add a custom-header with information  expect to appear in the ms-fhir-server audit logs. However, I'm unable to get this to work. If i set a breakpoint in the AuditLogger and inspect the request's headers I can confirm that my custom-header is received, but it does not appear in the logs as

[2021-03-16 22:23] emyklebost commented on #1725
tagging @CaitlinV39 , hoping this gets attention

[2021-03-17 22:02] #1642 closed

[2021-03-17 22:05] #1050 closed

[2021-03-17 22:06] #612 closed

[2021-03-17 22:07] CaitlinV39 commented on #24
@feordin - I think we resolved this. Can you confirm?

[2021-03-18 00:11] Ivanidzo4ka commented on #1725
https://github.com/microsoft/fhir-server/blob/ac70f53c8919156b5e994c60450a2c4ad211281e/src/Microsoft.Health.Fhir.Api/Features/Audit/AuditLogger.cs#L25

that sadge :(

[2021-03-18 02:52] CaitlinV39 commented on #1231
@uxbridgeroad thank you so much for mentioning this. We are working on implementing this now in this PR #1743 We should have this merged in in the next couple of weeks, if not sooner.

[2021-03-18 02:54] CaitlinV39 commented on #1613
Thanks @uxbridgeroad. Right now, our answer is still the same as it was in February that the proxy is probably the best route. Marc's team is the one that owns the proxy so may be able to make some updates there as well. We'll continue to keep this open but I don't have a timeline for when this would be supported in the server natively.

[2021-03-18 16:46] uxbridgeroad commented on #1231
@CaitlinV39, I just want to clarify what happens once #1743  is merged.

1. Will FHIR Release #5: Preview #3 v4.5.0 be the default when R5 is chosen during the ARM deployment step?
2. The Microsoft.Health.Fhir.R5.* packages on main will only support R5 Preview #3 v4.5.0.?
3. Any further fixes to Microsoft.Health.Fhir.R5.* will not be available on R5  Preview #2?

Thanks,

[2021-03-18 23:30] CaitlinV39 opened #1758 "IFhirAuthorizationService CheckAccess does not allow for a CancellationToken"
**User story**
Currently CheckAccess in the OSS implementation is simply with no dependencies, thus has no need for a CancellationToken.

However, the interface may be implemented in ways that do have downstream dependencies, such as in the managed service, where we use Azure RBAC.  These calls need a CancellationToken, and our interface should be updated to accept it.

**Acceptance criteria**
Int

[2021-03-18 23:31] CaitlinV39 commented on #1758
AB#78978

[2021-03-19 13:20] albamati commented on #838
I think this issue can be closed now

[2021-03-19 16:10] CaitlinV39 commented on #838
Thank you so much @albamati for picking this one up!

[2021-03-19 16:10] #838 closed

[2021-03-20 11:06] CaitlinV39 commented on #1660
@cashman04 let us know if you have any additional questions. I'm going to close for now but we can reopen if there are still open items.

[2021-03-20 11:06] #1660 closed

[2021-03-20 11:47] CaitlinV39 commented on #1725
@emyklebost - We have merged a PR that allows you to write a custom header to the audit log. Let us know if there is any other issue!

[2021-03-20 11:47] #1725 closed

[2021-03-20 11:47] #1619 closed

[2021-03-22 13:57] chgl opened #1760 "The SQL Operation Timeout should be configurable"
**User story**
As an operator, I want to be able to configure the SQL command timeout so that long-running search operations will not run into a timeout, and return a 500 error code (#1452).

**Acceptance criteria**
1. When I configure the SQL command timeout to a value larger than 30s, then queries running longer than 30s (which is the default timeout for SqlCommand) shouldn't time-out.

It could

[2021-03-22 17:33] CaitlinV39 commented on #1496
@CaitlinV39 add to SQL performance work

[2021-03-22 17:35] CaitlinV39 commented on #1459
@mattkoch614 Yes, that is the export we are looking at. Basically on this you can't invoke $export from within a bundle. This item is tracking to update the error message to make it a little clearer that you are doing an unsupported method.

[2021-03-22 17:40] CaitlinV39 commented on #1300
We should likely either throw an error that we don't accept fractions or we should evaluate them. Ignoring them (or dropping the fractions) could result in unintended behavior.

[2021-03-22 17:43] CaitlinV39 commented on #182
@mattkoch614 - Yes, this is still a refactoring task that is open

[2021-03-22 17:51] Ivanidzo4ka commented on #1300
From my interpretation of spec, it sound like if user pass fractions it should be treated as **exact** time, which we do right now.
If no fractions provided it should be treated as interval, which we also do.

[2021-03-22 22:25] Ivanidzo4ka commented on #1760
Thank you for creating this issue!
Any chance you can share what kind of query happen to run so long?
I agree what this should be configurable, and there can be certain loads of data on which query can be longer than 30 sec, but it can also mean what we did something wrong or wrote code in suboptimal way, and I would prefer to make query more performant, than just increase timeout.

[2021-03-22 23:05] #24 closed

[2021-03-23 09:08] DevWantJustHaveFun commented on #1514
Hello, any news on this ? according to the FHIR documentation http://hl7.org/fhir/http.html#paging it should be supported no ?

How to do proper pagination, if we have only the "next" link ? and if I understand well the search is limited to the first 1000 result ?

![image](https://user-images.githubusercontent.com/8572808/112121456-90d7ac80-8bbf-11eb-99a4-6936f264a954.png)

how to do search/pagin

[2021-03-23 15:25] CaitlinV39 commented on #1514
@DevWantJustHaveFun We have this in our backlog but have not finalized a timeline for the update. We did update the limit on _count so you can now get 1000 items instead of 100.

[2021-03-23 17:11] DevWantJustHaveFun opened #1765 "Impossible to use DELETE in Bundle with Azure FHIR API"
**Describe the bug**
I'm using Azure FHIR API, I try to do a batch DELETE using BUNDLE like described in the FHIR documentation
http://www.hl7.org/FHIR/bundle.html

**FHIR Version?**
R4

**Data provider?**
Azure FHIR API

**To Reproduce**
I'm doing this:

[code]

**Expected behavior**
 I expected this response (with the type "transaction-response"):

[code]

**Actual behavior**

But I get this res

[2021-03-23 19:32] CaitlinV39 commented on #1765
@DevWantJustHaveFun - Right now we don't support transaction bundles on the Azure API for FHIR, only batch bundles.

[2021-03-23 19:37] brendankowitz commented on #1765
If posting to the `https://server/` endpoint in Azure API for FHIR, then I would expect that you would receive an error when `"type":"transaction"`

If posting to the `https://server/Bundle` endpoint you would store the Bundle as a Resource, so it would be echoed back like in the example above.

[2021-03-24 08:09] DevWantJustHaveFun commented on #1765
@CaitlinV39  @brendankowitz  thanks for your responses, that's helped

the trick was to POST the bundle to "https://server/" and use the "type":"batch"

I get a successful response when I call the Azure FHIR API this way:

[code]

Can you confirm that, now I can delete my patient and all this dependency (for example observation) in one bundle (one http call :tada: ) but there is no guarantee about

[2021-03-24 11:00] remyahalza opened #1777 "Database of Azhure FHIR"
which is the database of Azure FHIR APi, By default where the data is stored?
Is it possible to configure fhir api with custom database?

[2021-03-24 12:30] chgl commented on #1760
I was actually slightly hesitant to create this issue since the timeouts have resolved themselves and now take < 5s to complete - so it's unsurprisingly a problem on our end (On-Premise SQL Server 2019, fhir-server deployed on Kubernetes). Additionally, these timeouts happened while data was being loaded into the server. But I thought it couldn't hurt to at least get your feedback and have it "sea

[2021-03-24 18:09] CaitlinV39 commented on #1777
@remyahalza - If you are using the managed Azure API for FHIR, you do not have access to the underlying datastore. It is backed by Cosmos DB. If you want to have access to the underlying data, you can use either the Cosmos DB or SQL deployment of the FHIR Server in this repo. Let me know if that answers the question.

[2021-03-24 18:26] davidegiacometti opened #1778 "Get FHIR Server Version"
**User story**
Add an API to retrieve FHIR server version corresponding to the GitHub release that is deployed.

[2021-03-24 19:25] Ivanidzo4ka commented on #1778
https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.software
CapabilityStatement.software.version sounds like a good candidate to output that information.

We should probably put release information into that field.

[2021-03-24 19:46] Ivanidzo4ka commented on #1758
There is https://github.com/microsoft/healthcare-shared-components/blob/ded04df9f10df5160941956e12b7560f76b2120e/src/Microsoft.Health.Core/Features/Security/Authorization/IAuthorizationService.cs interface so it's better to switch to it instead of specific one for this project.

[2021-03-24 21:34] anyname2 opened #1780 "Export operation fails to parse _typeFilter with OR search expression"
**Describe the bug**
When trying to `$export` data using a `_typeFilter` which contains an OR search expression, the `The _typeFilter segment '{0}' could not be parsed.` error is returned.

E.g. when `_typeFilter` contains the 2 expressions below (separated with a comma):
[code]

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:

[2021-03-25 00:32] brendankowitz commented on #1765
Correct, all calls within a bundle are treated independently. In the batch bundle response you can inspect the status of each of the request outcomes

[2021-03-25 18:26] CaitlinV39 commented on #1780
Thanks @anyname2 for logging this! @namadabu or @LTA-Thinking - Could you look into this?

[2021-03-25 19:02] LTA-Thinking commented on #1780
This looks like two bugs: our error message isn't properly formatted, and the _typeFilter isn't being parsed as expected.
The error message is something we should fix.
The parsing of _typeFilter is a little more complex.

Relevant Zulip conversations:
[_typeFilter and nested or](https://chat.fhir.org/#narrow/stream/179250-bulk-data/topic/_typeFilter.20and.20nested.20or)
[Multivalued parameters in

[2021-03-25 19:05] anyname2 commented on #1780
The message is formated correctly. The bug I was reporting is only the _typeFilter parsing

[2021-03-25 19:43] ellgre opened #1783 "Guidance of use of POST search parameters"
I have tried to find documentation on how to create search parameters by using POST search parameters but have not been successful. Do you have a user's manual that I can use?

Is it possible for you to provide me with an example on how to create a search parameter for Practitioner -> Qualification -> Code, and for an extension it would be very helpful. I have tried to create some based on existin

[2021-03-25 20:15] CaitlinV39 commented on #1783
@ellgre we actually are still working to release this functionality. It should be available in SQL in the next couple of weeks and I can follow up on this post once we do. You can look through the closed PRs and see some of the details, but you will need to not only create the new search parameter, but reindex your data (which isn't available yet in SQL).

[2021-03-25 20:17] ellgre commented on #1783
We are using cosmosdb. Is is available for us?

[2021-03-25 20:34] Ivanidzo4ka commented on #1783
As @CaitlinV39 said it's not yet set in stone and we still working on this, but I think it's OK to provide some information considering we close to finish that feature. But please read things below with idea in mind what things can change.

So first you need to create SearchParameter.

[code]

You need to post that resource on your server.

After it been posted all new resources  should be proceed

[2021-03-25 21:05] ellgre commented on #1783
Thank you.
It seems like I have entered the wrong url when I tried to set this up, and I am not able to remove or update the search parameter. I get the following error message
{
  "resourceType": "OperationOutcome",
  "id": "e348db12-0b46-478d-b68a-f0f8c84a614a",
  "issue": [
    {
      "severity": "error",
      "code": "not-supported",
      "diagnostics": "The search parameter with definition

[2021-03-25 21:14] Ivanidzo4ka commented on #1783
You can always delete that search parameter. You can do GET `http://helsedirektoratet.no/SearchParameter` to see what's the id of your search parameter and then do DELETE `http://helsedirektoratet.no/SearchParameter/{id}`.

I would also suggest to restart server after that, just to make sure that search parameter wouldn't be in memory (ofc, if that's possible)

Also as you could probably notice I

[2021-03-25 21:25] ellgre commented on #1783
Thank you for your quick response.
I have tried the delete and even though my search parameter now looks like this
{
  "resourceType": "SearchParameter",
  "id": "5ad1342a-2977-49db-9f0f-a6a6919a0c3a",
  "meta": {
    "versionId": "9",
    "lastUpdated": "2021-03-25T21:01:28.866+00:00"
  },
  "url": "http://hl7.org/fhir/SearchParameter/Practitioner-qualification-period",
  "version": "4.0.1",
  "n

[2021-03-25 22:12] Ivanidzo4ka commented on #1783
@feordin  for visibility.
As Caitlin said,  this is in feature in development, and we not even claim it's working right now, but we getting closer, so sorry about bumpy road.

I've tried to post that resource and delete it from server and current master branch and https://github.com/microsoft/fhir-server/releases/tag/release%2F1.0.854 (I assume that's what we have in azure right now) works fine wi

[2021-03-25 22:22] ellgre commented on #1783
We are running 854 and I have access to the query window in CosmosDb. I am not used to generating queries in cosmosdb.

[2021-03-25 22:37] ellgre commented on #1783
I could delete it now. Just needed to wait for a while.

[2021-03-25 23:02] Ivanidzo4ka commented on #1778
We actually using that field and populate it with Assembly.Version value.
Which we populate with `AssemblySemVer`  see https://gitversion.net/docs/reference/variables

problem its not descriptive enough.

@brendankowitz Can we switch to `AssemblySemFileVer` instead?

Our first minor upgrade happened 3 days ago, so all versions looks like `1.0.0.0`

[2021-03-26 00:12] Ivanidzo4ka commented on #1783
As I said we still working on this feature, and it looks like currently it works only if server holds searchParameter in memory, so if you restart your server searchParameter wouldn't be loaded. So if you restarted server at any moment, that could be reasonable explanation.

There is PR to address that: https://github.com/microsoft/fhir-server/pull/1782

You can try to play with it by deleting sea

[2021-03-26 16:30] CaitlinV39 commented on #1765
@DevWantJustHaveFun let us know if you have additional questions!

[2021-03-26 16:31] #1777 closed

[2021-03-27 10:49] stephenstack opened #1789 "Unable to load DB schema"
Hi

I'm unable to load the DB schema. Set the Automatic Updates to 'True'.
![image](https://user-images.githubusercontent.com/7944609/112718288-ea0a4d80-8ee9-11eb-969b-d5fb85099b77.png)

The migration tool (the docs need a pre-req for dotnet sdk), does not work per the following. Am I not doing something correctly? I'm happy to run the migration sql files directly, but that's not intuitive either.

[2021-03-29 15:35] namadabu opened #1792 "Duplicate resources returned when paging through _sort results (SQL)"
**Describe the bug**
When sorting resources (using parameters other than _lastUpdated) we can get duplicate resources in the response under certain situations.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Post 3 patients with the same birthdate
2. Run the following search query: GET <fhir-server>/Patient?_sort=birthdate&_count=2

[2021-03-29 18:15] CaitlinV39 opened #1794 "Receive 500 when running a group export"
**Describe the bug**
When running the following export, receive a 500:

https://<FHIR SERVER>/_operations/export/<JOB ID>

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
Run the export command above.

**Expected behavior**
Expect to receive a clear error stating what has happened.

**Actual behavior**
Receive a 500

[2021-03-29 18:26] CaitlinV39 commented on #1789
Thanks so much @stephenstack for the question.

@rbans96 - Can you review this?

[2021-03-29 19:37] rbans96 commented on #1789
Hi @stephenstack -
If I understand correctly, you want to initialize schema on startup. And that's where you have selected 'auto' value for the field Sql schema automatic updates enabled. It is the right setting to enable auto upgrade of schema over startup. If you click on the little info icon, we can see the details for the option to select.
![image](https://user-images.githubusercontent.com/571

[2021-03-29 23:18] Ivanidzo4ka commented on #1789
I think this issue is actually two issues.
First is `auto` in template doesn't work as expected (still need more information what exactly is not working)

Second is package couldn't be found. I think it's problem in our documentation. We need to clearly specify what that command line need to be run from cloned repository (otherwise nuget.config which contains requisites wouldn't be picked by dotne

[2021-03-30 00:32] rbans96 commented on #1789
Thanks @Ivanidzo4ka! I will definitely take a look how can we make documentation better and intuitive.

@stephenstack For the second point though, the tool can be installed from the public feed. Since latest version(which is optional) will keep on updated based on our release, so its ok if we don't specify a version, since without explicitly specifying version, the package would be installed with

[2021-03-30 00:52] Ivanidzo4ka commented on #1789
Just few cents.
I think it's overkill to ask people to install visual studio, it's quite big, you need to look for express edition, some probably never work with it.

I can be wrong, but copying [nuget.config](https://github.com/microsoft/fhir-server/blob/main/nuget.config)  to your current folder should be enough (need to be tested)

[2021-03-30 07:51] sstackey commented on #1789
Thanks for the response all. So yes, its both things... First setting the setting to 'auto' on deploy does not deploy the Database. My Tables are empty... see below.

And yes, the docs are not clear, initally it appeared that I could run the dotnet command from windows cmd prompt. But if VS is needed, that is a 'bazooka'. BUT, @Ivanidzo4ka tip in downloading nuget.config to the current dir worked

[2021-03-31 04:27] Ivanidzo4ka commented on #1789
@rbans96 posted PR to update documentation and to make sure next time you deploy, schema would be populated.

I think I need to provide some explanation why schema is empty right now.
Schema manager is part of our web app service, it's marked as `IHostedService` and suppose to be running at start of the service.
But there is implementation details problem.

App services (which host aspnetcore site

[2021-03-31 07:08] Ivanidzo4ka opened #1803 "Resource cleanup is lacking for failed PRs."
Pick any failed PR.
https://microsofthealthoss.visualstudio.com/FhirServer/_build/results?buildId=10072&view=results as example.
We create resources in azure, but we don't clean them if PR failed somewhere.

There is few outcomes for such PR:
1. Someone push new version or retry failed job. It succeeded and we clean resources in azure.
2. Something blocking PR and no one retry failed job. Like thi

[2021-03-31 15:32] DevWantJustHaveFun commented on #1765
@CaitlinV39 only one question, when the "transaction" will be supported ? :)

[2021-04-02 12:46] stephenstack commented on #1789
Something has changed, for the better.  I just did a fresh deployment today and now all tables are present, GETs and POSTs work just fine with the API. And this without calling the URL per your previous suggestion. Though I guess that makes sense. Now to decipher the schema (because I like to go under the hood). Any docs or points on that would be useful.

[2021-04-02 15:40] Ivanidzo4ka commented on #1789
We don't have one per se, but schema has somewhat good naming, so most tables are self explanatory.
I can recommend [this video  ](https://www.youtube.com/watch?v=x2eggFN2Puc).

Shorten version of it would be:
There is 3 types of tables.

- `Resource` table where we keep all resources.

- `*SearchParam` tables where we keep extracted from resource values so we can do search on them.

- Dictionary

[2021-04-03 12:14] stephenstack commented on #1789
@Ivanidzo4ka  thanks for the help and information

[2021-04-04 19:18] chgl opened #1821 "Support for OpenTelementry Tracing"
**User story**
As an operator, I want to monitor/instrument the FHIR server using OpenTelemetry as a standard export format so that I can analyze performance and investigate slow calls.

**Acceptance criteria**
1. When I configure the FHIR server to export trace information, then these traces should become available in the OpenTelemetry, Zipkin, and/or Jaeger format to be ingested by an OpenTeleme

[2021-04-05 15:27] #1758 closed

[2021-04-05 15:59] #1792 closed

[2021-04-05 16:24] #1794 closed

[2021-04-05 16:27] CaitlinV39 commented on #1789
@stephenstack I'm going to close this issue but please let us know if you have any additional questions that we can help with!

[2021-04-05 16:27] #1789 closed

[2021-04-05 16:33] #1258 closed

[2021-04-05 16:39] #1458 closed

[2021-04-05 16:42] CaitlinV39 commented on #1567
We reduced the size of the token to 3K so this should resolve.

[2021-04-05 16:43] #1765 closed

[2021-04-05 16:49] CaitlinV39 commented on #1559
@shmartel - I missed the part of the re-enabling! Let me reopen :) We'll make sure to re-enable before closing.

[2021-04-05 21:16] CaitlinV39 commented on #1821
@chgl thanks so much for sharing this. We will investigate and update when we have more insight, but don't have an ETA for when we would, or if we would, support this.

[2021-04-05 22:40] rbanate opened #1824 "Observation Resource patient search parameter not working"
**Describe the bug**
running a GET request on Observation resource using the `patient` with small "p" parameter is not working but using capital "P" works.

i..e Observation?patient=966e1907-9351-494f-8441-693a717982d1 does not work but this one works Observation?Patient=966e1907-9351-494f-8441-693a717982d1

Based from here http://hl7.org/fhir/observation.html it should accept small "p" instead of

[2021-04-05 22:51] rbanate commented on #1824
Please disregard, taking another look

[2021-04-05 22:51] #1824 closed

[2021-04-06 16:41] brendankowitz commented on #1778
We set it here for the nuget packages and webdeploy files, but I don't think it gets set properly in the docker build.

https://github.com/microsoft/fhir-server/blob/473baa53043441996ed5391081da183daa2372ab/build/jobs/build.yml#L14-L15

Our strategy is configured slightly differently atm in that we're only requiring recompilation on Major increments.

[2021-04-06 16:50] Ivanidzo4ka commented on #1778
![image](https://user-images.githubusercontent.com/1523833/113748090-ed0cf700-96bc-11eb-9da7-681b5015ac75.png)

Can we switch that build command to use `assemblySemFileVer`  instead of `assemblySemVer` or maybe change assignment of `assemblySemVer` to same assignment we have for `assemblySemFileVer`

[2021-04-06 17:02] Ivanidzo4ka commented on #1778
Another option is not to use AssemblyVersion in capability statement, and use FileVersion instead.

[2021-04-09 18:23] CaitlinV39 commented on #1496
@johnstairs here is another SQL query example.

[2021-04-09 18:24] CaitlinV39 commented on #1452
@johnstairs This was another SQL query example

[2021-04-12 17:55] CaitlinV39 commented on #1256
AB#81256

[2021-04-12 17:57] CaitlinV39 commented on #1452
AB#77508

[2021-04-12 17:59] CaitlinV39 commented on #1496
AB#81257

[2021-04-12 18:01] CaitlinV39 commented on #1559
AB#81258

[2021-04-12 18:05] CaitlinV39 commented on #1803
AB#81259

[2021-04-13 19:19] Ivanidzo4ka opened #1848 "Evaluate if we can remove analyzer with .NET 6"
I've checked in https://github.com/microsoft/fhir-server/tree/main/tools/FhirAnalyzer analyzer and it would be nice to move it into https://github.com/microsoft/healthcare-shared-components repository and use it as external nuget instead of local tool.

[2021-04-13 19:30] Ivanidzo4ka opened #1849 "SearchParameter update returns 500"
**Describe the bug**
If I update non existing search parameter it returns 500 instead of upserting resource.

**FHIR Version?**
Any

**Data provider?**
Any

**To Reproduce**
Steps to reproduce the behavior:
PUT
https://localhost:44348/SearchParameter/dsads
[code]

**Expected behavior**
New search parameter created.

**Actual behavior**
NullRef and 500

[2021-04-14 09:23] ellgre commented on #1783
Thank you. We will wait for the final solution.

[2021-04-14 09:23] #1783 closed

[2021-04-14 09:34] ellgre opened #1854 "Provenance - target and version"
We are using headers on PUT and POST to generate Provenance. The provenance is generated as expected, but we have a question regarding target which is not version specific in the provenance objects generated by the FHIR server. Is there any possiblity to make target version specific? Will _revinclude from the changed object work if it is version specific? If not, do you have a recommendation on wh

[2021-04-14 17:33] CaitlinV39 commented on #1849
@Ivanidzo4ka - I think the issue is that you have name in the code field. I think this can't be something that's already been used in the database previously. @rotodd and @feordin could confirm. I'm wondering if we should have a different error though. I didn't get a 500 when I tested. I got this:

{
  "resourceType": "OperationOutcome",
  "id": "4cac2c19-2c5b-4a2d-96a0-119723647ce6",
  "issue": [

[2021-04-14 21:42] anyname2 commented on #1854
That would be a nice to have. As a workaround we create Provenance resources manually with versioned references. But AFAIK FHIR currently doesn't support versioned reference search or include either. It always uses latest version and the version is never even extrancted into the index.

I did submit a PR to address `_include` with veriosned references: #1450, which wasn't merged (but we use it in

[2021-04-14 23:00] Ivanidzo4ka commented on #1854
Would it be ok if target look like:
`Resource/{ResourceId}/_history/{ResourceVersion}` instead of `Resourse/{ResourceId}`
something like:
`Patient/702532ed-f6e1-4bfd-8ed2-f5bdaa5b7f5f/_history/2`
At least this is what I'm getting from reading docs on Reference type.

I'm not sure about _revInclude, but you can definitely query resource by that url.

If so it's a one minute change in code, and I ca

[2021-04-15 18:31] ellgre commented on #1854
I have tested with target similar to Patient/702532ed-f6e1-4bfd-8ed2-f5bdaa5b7f5f/_history/2 and _revinclude works perfectly. Could your please implement the change?

[2021-04-15 21:17] CaitlinV39 commented on #1738
@Ivanidzo4ka  - Can we close this issue?

[2021-04-15 21:23] Ivanidzo4ka commented on #1738
Yes, we can!

[2021-04-15 21:23] #1738 closed

[2021-04-19 14:09] kajalthakkar commented on #1404
Hi @CaitlinV39 ,  we are using azure fhir server for get data , now i want to implement Sorting functionality on various columns some of them are like identifier then some amount etc.
 is that possible ?

[2021-04-19 21:20] CaitlinV39 commented on #1111
@rbans96 & @Ivanidzo4ka did we resolve this recently?

[2021-04-19 21:30] CaitlinV39 commented on #459
Going to close for now since we haven't found the cause and we can reopen if we see it again.

[2021-04-19 21:30] #459 closed

[2021-04-19 21:38] CaitlinV39 commented on #12
Not prioritzed for now so were going to close.

[2021-04-19 21:38] #12 closed

[2021-04-19 22:05] Ivanidzo4ka commented on #1111
I've never looked into it, so I can't comment.

[2021-04-20 14:46] LTA-Thinking commented on #1111
I haven't tested it recently, but we haven't done anything to fix this. This is a result of how the Azure Web App works, not something in our service. Given that MCR requires a latest tag there isn't an easy way to prevent this on our end. The best I can think of is to state it in our documentation as a risk of using the latest tag when setting up a service.

[2021-04-20 15:00] CaitlinV39 commented on #1111
Thanks @LTA-Thinking! We were doing some backlog grooming and we weren't sure. I'll mark for a documentation update.

[2021-04-20 18:19] CaitlinV39 opened #1868 "Update CachedHealthCheck in HealthCareSharedComponents to allow multiple requests"
**User story**
Currently the CachedHealthCheck class uses a semaphore to allow only 1 thread of execution to check and possibly update the healthcheck result.  If one thread blocks and retains the semaphore for a long period of time, manyother healthcheck calls will fail.

We should allow multiple request to access the cached result at once, and perhaps only block if the result needs to be updated

[2021-04-20 18:19] CaitlinV39 opened #1869 "Add cancellation logic to SearchParameterStatusDataStore operations"
**User story**
The search parameter status operations GetSearchParameterStatuses() and UpsertStatuses() should take in a cancellation token as input.

**Acceptance criteria**
Cancellation logic is added to search parameter status operations.

[2021-04-20 18:20] CaitlinV39 opened #1870 "Remove unused types in a new SQL schema version"
**User story**
Old TVPs were removed from the snapshot file 8.sql in Reindexes resources in bulk in SQL by rotodd · Pull Request #1709 and exceptions were added to the test GivenTwoSchemaInitializationMethods_WhenCreatingTwoDatabases_BothSchemasShouldBeEquivalent.

These types need to be dropped in the diff file of a following version (relevant PR comment here) and the exceptions should be removed

[2021-04-20 18:21] CaitlinV39 opened #1871 "Schema management tool should indicate initialization time to user"
**User story**
In some schema upgrade scenarios that rely on the schema management tool (see the yellow highlighted boxes here), initialization methods in the FHIR model can take up to 1 minute to be triggered. It would be good to have an info message to let the user know.

**Acceptance criteria**
The user is notified when initialization is delayed

[2021-04-21 08:59] ellgre opened #1873 "Questionnaire response - search criteria questionnaire missing?"
We are using questionnaire and questionnaireResponse and are linking them based on the field questionnaire on the questionnaireResponce document. We would like to use questionnaire as search parameter as defined in [FHIR ](https://www.hl7.org/fhir/questionnaireresponse.html) in order to find all responses linked to a given questionnaire, but cannot find it as a search parameter in the capability s

[2021-04-21 13:14] art-cg opened #1874 "Broken Link in Readme"
The following link is broken
Blog: FHIR Server for Azure, an open source project for modern healthcare.

https://cloudblogs.microsoft.com/industry-blog/industry/health/fhir-server-for-azure-an-open-source-project-for-cloud-based-health-solutions/

[2021-04-21 16:16] brendankowitz commented on #1873
Hi @ellgre. Yes, this is related to #1566, though its not currently prioritized

[2021-04-21 20:50] CaitlinV39 commented on #1874
Thanks @art-cg! I fixed the link

[2021-04-21 20:50] #1874 closed

[2021-04-22 06:07] ellgre commented on #1873
We have the following use case:
- We have a questionnaire that we use for terms of service which our users must respond to with questionnaireresponse in order to use our services.
- The questionnarieresponse is linked to the questionnaire through a versioned reference.
- The terms of service are revised regularly by creating a new version of the questionnaire.
- In order to make sure that all user

[2021-04-22 20:34] CaitlinV39 commented on #1404
@kajalthakkar Right now we do not have support for _sort in the Azure API for FHIR. I'd love to talk through more of your fields and scenarios. Do you have a specific list of fields that you would like to support? If you'd rather take offline, feel free to email me cavoeg@microsoft.com

[2021-04-23 16:33] brendankowitz opened #1881 "FHIR Server tries to write content when status is 204"
**Describe the bug**
 FHIR Server tries to write content when status is 204.

Log context:
[code]

[code]

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

[2021-04-23 21:56] #1564 closed

[2021-04-26 07:58] remyahalza opened #1883 "Iot connector"
I used this repo and created fhir service as app service,

How to use Iot connector service here?

[2021-04-26 14:20] CaitlinV39 commented on #1883
@remyahalza you can find details for Iot on this GitHub project: https://github.com/microsoft/iomt-fhir

I'm going to close this issue here but if you have additional questions feel free to open against that repo.

[2021-04-26 14:20] #1883 closed

[2021-04-26 18:29] CaitlinV39 opened #1886 "Searching is now case sensitive"
**Describe the bug**
A customer noticed that searching appears to be case sensitive all of the sudden

**FHIR Version?**
R4

**Data provider?**
CosmosDB (Found in Azure API for FHIR)

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
Searching should be **case insensitive**

**Actual behavior**
Searching is case sensitive

[2021-04-26 23:48] Ivanidzo4ka opened #1887 "Server doesn't indicate what `_text` is not supported"
**Describe the bug**
Send a request
https://{FHIRSERVER}/Patient?_text=MOBILE

You get back:
[code]

which looks like we actually performed search with `_text`, but that's not the case.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
[code]
be added to bundle, and `_text` be removed from self u

[2021-04-30 12:00] ellgre opened #1898 "INCOMPLETE DATA RETURNED DURING SEARCH"
**Describe the bug**
When we are doing a search to fetch all organizations and use the next link to go through all pages we do not get all organizations.

**FHIR Version?**
R4

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. Make a search to get all organizations
2. Note total
3. Use next link and note number of organizations returned
4. Repeat step 3 until there

[2021-04-30 16:28] CaitlinV39 commented on #768
This is now available. You can find all the documentation here:

1. https://docs.microsoft.com/azure/healthcare-apis/fhir/how-to-do-custom-search
2. https://docs.microsoft.com/azure/healthcare-apis/fhir/how-to-run-a-reindex

[2021-04-30 16:28] #768 closed

[2021-04-30 16:51] CaitlinV39 commented on #1898
@ellgre - Can you send me the exact search syntax you are using for each one? I'm not able to reproduce so just wanted to see if I am missing something.

[2021-04-30 16:52] #1886 closed

[2021-04-30 16:53] CaitlinV39 commented on #1854
@Ivanidzo4ka can this be closed?

[2021-04-30 16:55] ellgre commented on #1898
We are using the following: <baseurl>/Organization/?_format=application%2Fjson&_count=1000.

[2021-04-30 17:06] #1854 closed

[2021-05-01 23:52] npvinhphat commented on #774
Hi, I also have the same question. Is it possible to have an answer here? Thanks!

[2021-05-04 11:47] ebjornset commented on #1898
Just want to mention that we are running the 1.3.8 release, with the appsetting FhirServer:CoreFeatures:IncludeTotalInBundle = Accurate

[2021-05-04 21:19] Ivanidzo4ka commented on #1898
I'm trying to reproduce it (in 1.3.8 release branch), and I have trouble with reproducing it as well.

I've check code, and I don't see (so far) anything what could affect search from generating cosmos query.

Query we send right now is:
[code]
And we just specify how much is limit for max items in query settings.

If you know what release you had before (autumn 2020 is a bit vague) I can check wh

[2021-05-04 22:23] ellgre commented on #1898
I have tried the queries directly on cosmos db and both return the same total.
You have had the following fix https://github.com/Microsoft/fhir-server/commit/4ce798c5f8b9b523ba36d8cc49815f062969f280 between the version we were running before and now. Can this have changed anything?
We were running on Build 20200708-1 before.

[2021-05-04 22:55] Ivanidzo4ka commented on #1898
I think you are right, and I finally able to reproduce it locally.
I created resources sequentially with incrementing id, and I can see how some things got throw out from results:
![image](https://user-images.githubusercontent.com/1523833/117079589-ea6be480-acf0-11eb-9e0c-83ad5a2912a3.png)

Thanks for the tip!

[2021-05-05 02:29] CaitlinV39 commented on #1898
AB#81893

[2021-05-06 06:32] ebjornset opened #1915 "Is there any breaking changes from versjon 1.3.32 to 2.0.13?"
**Question**

Is there any breaking changes from versjon 1.3.32 to 2.0.13?

**Description**
I presume you use semantic versioning, so there is a breaking change between versjon 1.3.32 to 2.0.13? I've looked at the change log, but I'm not able to see what this change might be. Can anyone point me to the issues or PRs that are considered as braking changes?

[2021-05-06 11:42] ebjornset opened #1916 "Microsoft.Health.Fhir.R4.Web v 2.0.18 crashes during start with an System.ArgumentOutOfRangeException "The UTC time represented when the offset is applied must be between year 0 and 10,000. (Parameter 'offset')" from SearchParameterStatusManager.ctor"
**Describe the bug**
The server crashes during start with an System.ArgumentOutOfRangeException "The UTC time represented when the offset is applied must be between year 0 and 10,000. (Parameter 'offset')" from SearchParameterStatusManager.ctor

**FHIR Version?**
R4, release 2.0.18

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. Compile the source
2. Run Microsof

[2021-05-06 11:48] ebjornset commented on #1916
I forgot to mention that if I change the line where it crashes  (line 46 in Microsoft.Health.Fhir.Core.Features.Search.Registry.SearchParameterStatusManager)
`_latestSearchParams = DateTime.MinValue;`
to
`_latestSearchParams = DateTime.MinValue.ToUniversalTime();`
then the server starts as expected. But I don't know enough about the expected behavior to say if this is in fact the proper fix...

[2021-05-06 12:35] cunninghamb505 opened #1917 "Chained search limited or not allowed for Encounter"
**Question**
When trying to run a chained query below I get an error saying its not allowed. I am just trying to search for all locations where the facility equals xyz

https://TESTTEST.azurehealthcareapis.com/Encounter?location.name=FACILITY A

Error
        {
            "severity": "error",
            "code": "invalid",
            "diagnostics": "The chained parameter is not supported."

[2021-05-06 14:36] brendankowitz commented on #1915
If you are using sql then read #1876

[2021-05-06 14:50] ebjornset commented on #1915
Ok, we uses CosmosDB, so I take this as no breaking changes should affects us? Great 👍

[2021-05-06 15:46] cunninghamb505 commented on #1917
Here is an example from HAPI that works
 http://hapi.fhir.org/baseR4/Encounter?location.name=Ward 1, Room 63f646cb-bd4d-4087-8f3c-7d77d2841d0f, Bed 1

[2021-05-06 15:50] CaitlinV39 commented on #1917
@cunninghamb505 have you tried the same syntax that you used for HAPI? I think the issue is with the subject: piece since subject refers to a patient or group, not a location

[2021-05-06 16:00] cunninghamb505 commented on #1917
@CaitlinV39 Hi thanks. Sorry i forgot to update my query but similar error about chained support
https://myserver.azurehealthcareapis.com/Encounter?location.name=FACILITY A
  "severity": "error",
            "code": "not-supported",
            "diagnostics": "Chained expression is not supported."

[2021-05-06 17:37] CaitlinV39 commented on #1898
@ellgre We have released a fix for this in this release: https://github.com/microsoft/fhir-server/releases/tag/release%2F2.0.18

[2021-05-06 17:41] ellgre commented on #1898
Thank your very much for fast reaction. Unfortunately we fould the following bug https://github.com/microsoft/fhir-server/issues/1916 when we tried to install the latest version.

[2021-05-06 19:24] Ivanidzo4ka commented on #1917
I talked with @feordin  two days ago while he worked on new release to PaaS and we found what chained search wasn't turned on by default.

New release which @feordin worked on Monday should have it turned on, but I don't know exact dates when it will hit production.

As workaround you can add "x-ms-enable-chained-search" header with value "true" to your request and it should enable chained search.

[2021-05-06 19:54] CaitlinV39 commented on #1916
We resolved this in this release: https://github.com/microsoft/fhir-server/releases/tag/release%2F2.0.19

[2021-05-07 22:29] brendankowitz commented on #1917
@cunninghamb505 we were gathering feedback on this feature's behavior and performance in the managed service prior to making it generally available, which is the reason for the feature flag here. You should be able to use it now with the feature flag as @Ivanidzo4ka pointed out

[2021-05-09 08:07] ebjornset commented on #1916
We've tested the release, and the fix works as expected. Thanks!

[2021-05-09 08:07] #1916 closed

[2021-05-10 09:23] ellgre commented on #1898
We have tested the new version and search now returns complete data.

[2021-05-10 09:23] #1898 closed

[2021-05-10 17:11] #1915 closed

[2021-05-10 19:21] Ivanidzo4ka commented on #1868
https://github.com/microsoft/healthcare-shared-components/blob/78be139e52a6c5fed6a0fd83ee7463210057d44f/src/Microsoft.Health.Api/Features/HealthChecks/CachedHealthCheck.cs#L42
[code]
It's been like that for awhile. Is there is something else we need to do?

[2021-05-11 10:13] manutiedra opened #1924 "SqlException: 'STRING_AGG' is not a recognized built-in function name."
**Describe the bug**
When running the R5 web project using the Sql Server data provider without an existing database, the following error appears:

Microsoft.SqlServer.Management.Common.ExecutionFailureException
  HResult=0x80131501
  Message=An exception occurred while executing a Transact-SQL statement or batch.
  Source=Microsoft.SqlServer.ConnectionInfo
  StackTrace:
   at Microsoft.SqlServer.

[2021-05-11 16:43] CaitlinV39 opened #1925 "Capability statement is missing date"
**Describe the bug**
Date has 1...1 cardinality but does not show up in the capability statement

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. GET {{FHIR URL}}/metadata

**Expected behavior**
Date should be in the capability statement

**Actual behavior**
Date is missing

[2021-05-11 19:57] CaitlinV39 opened #1926 "Capability Statement - Reference ValueSet instead of code system for security service"
**Describe the bug**
In the capability statement, we have a spot where we reference a valueset instead of a code system:

The Coding references a value set, not a code system ("http://hl7.org/fhir/ValueSet/restful-security-service"). Location: CapabilityStatement.rest[0].security.service[0].coding[0] (line 1, col 776).

This should reference the code system instead: http://terminology.hl7.org/Code

[2021-05-11 20:54] CaitlinV39 opened #1928 "CapabilitySatement.format missing json and xml entries"
**Describe the bug**
The capability statement needs to specify in the format section that we support json and xml. The way we have it formatted right now will return errors on validation.

https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.format

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-05-11 20:55] CaitlinV39 commented on #1928
AB#82024

[2021-05-11 20:55] #1925 closed, assigned to nobody

[2021-05-13 22:11] Ivanidzo4ka opened #1935 "CapabilityStatement doesn't indicate supported include and revInclude search values."
**Describe the bug**
Since we support _include and _revinclude in search we also need to add to capability statement information about what fields for each type we allow perform _include and _revInclude.
https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.rest.resource.searchInclude
and
https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.

[2021-05-13 22:29] Ivanidzo4ka opened #1936 "Error prone practice of deleting resources in tests."
**Describe the bug**
Take this build: https://microsofthealthoss.visualstudio.com/FhirServer/_build/results?buildId=10960&view=logs&j=89b5186a-1c3e-5f03-4558-881d5bfbff1f&t=144284e4-be57-5c18-634d-684b6afd7165
In test we create 50 resources and we validate what we have 50 resource.

Unfortunately there https://github.com/microsoft/fhir-server/blob/9c6e6ffe700ca41dee6f310bb1e2e81be537f30c/src/Micro

[2021-05-14 19:32] abiisnn opened #1939 "launch.json does not have correct name of the .NET version folder"
**Describe the bug**
[Building and debugging locally](https://github.com/microsoft/fhir-server/wiki/Build-and-debug-locally)  is not working as is expected. **Updating launch.json file is required.**

**FHIR Version?**
R4

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1.  Follow steps of [Building and debugging locally](https://github.com/microsoft/fhir-server/wiki

[2021-05-14 20:57] #158 closed

[2021-05-14 21:00] #1926 closed

[2021-05-14 21:00] #1928 closed

[2021-05-14 21:00] #338 closed

[2021-05-14 21:00] #1428 closed

[2021-05-15 02:42] CaitlinV39 opened #1941 "Unable to create Practitionerrole-network search parameter"
**Describe the bug**
When trying to post a Da Vinci search parameter, receive an error.

http://hl7.org/fhir/us/davinci-pdex-plan-net/SearchParameter/practitionerrole-network

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Post the search parameter http://hl7.org/fhir/us/davinci-pdex-plan-net/SearchParameter/practitionerro

[2021-05-15 02:42] CaitlinV39 commented on #1941
@feordin @rotodd could one of you take a look?

[2021-05-18 15:12] #1256 closed

[2021-05-18 16:22] #1628 closed

[2021-05-19 18:29] YazanMSFT opened #1953 "Exception: Type checking the data: Encountered unknown element 'masterIdentifier' at location 'Resource.masterIdentifier[0]' while parsing"
**Describe the bug**
The following test is failing in R5:

Microsoft.Health.Fhir.Tests.E2E.Rest.Search.BasicSearchTests(CosmosDb, Json).GivenASearchRequest_WhenExceedingMaxCount_ThenAnOperationOutcomeWarningIsReturnedInTheBundle

@feordin Dug into it and discovered that 'masterIdentifier' has been removed in R5. We'll need to update the existing test data to the latest that does not have this prob

[2021-05-19 18:43] CaitlinV39 commented on #1939
@abiisnn - Are we good to close this issue now?

[2021-05-19 19:15] abiisnn commented on #1939
Yes :)

[2021-05-19 19:46] #1939 closed

[2021-05-20 00:09] Ivanidzo4ka opened #1955 "_include return deleted resources"
**Describe the bug**
Subj. _revinclude probably does same thing.
See Reproduce steps.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Post Organization resource, remember **id**.
2. Post Patient, with "managingOrganization": {
    "reference": "Organization/**id**"
  }
3.  Delete Organization/**id**
4. search Patient?_incl

[2021-05-20 21:09] mikemassa84 commented on #1567
This is still broken if you search by multiple parameters. Here's an example from our server:

`/Patient?name=Smith&gender=female`

This generated a ct with the following:
`W3sidG9rZW4iOiIrUklEOn44d0JSQUtzNzJndERxQThBQUFBQUFBPT0jUlQ6MSNUUkM6MTAjSVNWOjIjSUVPOjY1NTY3I1FDRjo3I0ZQUDpBZ2crQUFBQUFBQUFBRXdEQUFBQU1BQUFQZ0FBQUFBQUFBQUNBRU9vUHdBQUFBQUFBQUFFQUNXSm9wTkJBQUFBQUFBQUFBSUF3NlZIQUFBQUFBQUFBQUlBaXF

[2021-05-20 23:06] #1955 closed

[2021-05-21 15:40] camila8 opened #1961 "Chained search error encounter and patient"
I tried to use the chain example that is in your documents and get that it is not supported.

![image](https://user-images.githubusercontent.com/23110570/119163105-b696fb80-ba20-11eb-81fb-3fa13b3efd58.png)

![image](https://user-images.githubusercontent.com/23110570/119163254-d9291480-ba20-11eb-92e4-3e3ea1e8c62b.png)
****

[2021-05-21 19:46] CaitlinV39 commented on #1961
@camila8 - I will get the documentation updated but use birthdate (lower case d instead of birthDate) and the search will work. Thanks so much for pointing this out!

[2021-05-21 20:05] camila8 commented on #1961
![image](https://user-images.githubusercontent.com/23110570/119192546-f45a4b00-ba45-11eb-8378-50503a9154a2.png)

I think the result is too long..

[2021-05-21 20:10] CaitlinV39 commented on #1961
@camila8 - This is just an example so you may need to modify based on what is in your database. You can see the note that explains this in the documentation here: https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/search-samples#reverse-chain-search

You will need to make the search more specific in your database.

Note

In the Azure API for FHIR and the open-source FHIR server backed by

[2021-05-21 20:13] camila8 commented on #1961
Ya thats why I added the count = 10 to make it smaller.

[2021-05-21 20:15] CaitlinV39 commented on #1961
_count doesn't limit the search, it limits the number of results per page. This means that with count=10, you would get 10 results per page but you would still have access to the full set of results through the continuation token. The total results (across all pages) needs to meet the limitations above.

[2021-05-21 20:17] camila8 commented on #1961
ok got it thanks

[2021-05-21 20:17] #1961 closed

[2021-05-22 16:19] holpit commented on #1404
Hi @CaitlinV39
We have the same huge problem about sorting.
In a nutshell, the fastest way is that every search parameters have to be also a sort parameter.
The "time" is a very important meaning and sort by period, recorderDate, scheduledTime, and so on is crucial.
Probably there are some cases where is enough searching and others is enough sorting, but it is a good starting point.
We are using a

[2021-05-23 06:28] remyahalza opened #1964 "Iot Connetor"
I used this repo and created fhir service as app service,

I got FHIR URL as https://name.azurewebsites.net

metadata like https://name.azurewebsites.net/metadata

I used the following repository for iot  connector

https://github.com/microsoft/iomt-fhir

![image](https://user-images.githubusercontent.com/68893691/119250401-e117be80-bbb0-11eb-937b-a9ea0ee534dd.png)

But After creating this, I use

[2021-05-24 15:12] CaitlinV39 commented on #1964
@remyahalza - I'm going to transfer this issue to the IoT Connector site.

[2021-05-24 15:13] #1917 closed

[2021-05-24 15:53] CaitlinV39 commented on #1404
@holpit - Are you looking for support for this on SQL or Cosmos DB?

[2021-05-24 19:23] holpit commented on #1404
SQL

[2021-05-24 21:44] CaitlinV39 commented on #1404
@holpit We are actively working on this feature for SQL for strings and datetime parameters. We are aiming to have this available by the end of June but will keep this item open as we work through it.

[2021-05-24 22:32] CaitlinV39 opened #1967 "Export doesn't recognize the seconds of the instance"
**Describe the bug**
A customer reported that the Azure API for FHIR doesn't respect instance on export when using _since. It only looks at date.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Run an export with _since set to an instance
2.
3.

**Expected behavior**
Data would be exported since that instant

**Actual beha

[2021-05-25 05:05] Ivanidzo4ka commented on #1967
There is two layers in this bug.
- `PartialDateTime` class we use is not working well with `instant` time and fail to parse correct `instant` string.
- There is no model validation in Export controller so we ignore fact what `_since` parameter throw exception during parsing.

For `PartialDateTime` there is new classes in 3.0 firely library like `DateTime` which I think we can utilize.

[2021-05-25 22:49] abiisnn opened #1968 "Link to "Postman to test the FHIR server" in bash instructions is not working."
**Describe the bug**
"Postman to test the FHIR server" link is not working in bash instructions, instead, you get a 404 not found.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1.  Enter to Github repository,  [Fhir-Server/docs/BashDeployment](https://github.com/microsoft/fhir-server/blob/main/docs/BashDeployment.md#deployi

[2021-05-26 15:27] giacomodeliberali opened #1973 "[Regression] Sorting DocumentReference by date is no longer supported"
**Describe the bug**
Sorting _DocumentReference_ by `date` was supported (tested in `1.0.800`) but no longer work in the last version (`2.0.41`).

**FHIR Version?**
R4

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Run query `DocumentReference?_sort=date`

**Expected behavior**
Should sort resources by date asc

**Actual behavior**
Does not sort resources and

[2021-05-26 19:29] Ivanidzo4ka opened #1974 "Sql server can't process resource for custom search parameter."
**Describe the bug**
If there is two or more instances of fhir-server adding search parameter to resource can lead to other instances of fhir-server would fail to process resources for that search parameter.

`SqlServerFhirModel` has a `private Dictionary<Uri, short> _searchParamUriToId;` which contains mapping of searchParameter to it's id in sql server.

Currently only place which update this ma

[2021-05-27 08:03] davidegiacometti commented on #1870
Hi,

this is the comparison between a SQL schema updated from v4 using differential scripts and a fresh v10.
After the update there are 27 more objects (tables, stored procedures and types).

![schema](https://user-images.githubusercontent.com/25966642/119787705-c6578980-bed1-11eb-884d-011c895b9c4c.png)

I suppose these are unused objects and should be removed. Can I have a confirmation?

Thanks

[2021-05-27 20:34] CaitlinV39 commented on #1974
AB#82454

[2021-05-27 20:40] CaitlinV39 commented on #1968
@abiisnn Thanks for catching! I figured it :)

[2021-05-27 20:40] #1968 closed

[2021-05-27 20:41] CaitlinV39 commented on #1967
AB#82455

[2021-05-27 20:43] CaitlinV39 commented on #1953
AB#82456

[2021-05-27 20:44] CaitlinV39 commented on #1941
AB#82413

[2021-05-27 20:46] CaitlinV39 commented on #1936
AB#82457

[2021-05-27 20:47] CaitlinV39 commented on #1935
AB#82421

[2021-05-27 22:12] CaitlinV39 commented on #1973
@giacomodeliberali thank you so much for sharing this. While this may have worked in the past, we didn't technically support for date on DocumentReference and so it was not included in our testing. However, we are working on a full implementation of _sort on all strings and dates in SQL which will be available by the end of June and that should resolve this issue.

Thanks!

[2021-05-27 22:12] CaitlinV39 commented on #1973
AB#82462

[2021-05-27 22:17] CaitlinV39 commented on #1887
AB#82463

[2021-05-31 21:26] vimorra opened #1981 "Doc Register-Resource-Application.md"
**Describe the bug**
In the Doc page Register-Resource-Application.md the GlobalExporter role has a "dispalyName":"GlobalWriter", it should be GlobalExporter

[2021-05-31 21:52] CaitlinV39 commented on #1981
Thanks for catching this! Page is updated.

[2021-05-31 21:52] #1981 closed

[2021-06-01 07:24] vimorra opened #1982 "MigrationTool unable to connect to SQLServer"
**Describe the bug**
I have deployed the OSS Fhir Server on my Azure Subscription, and enabled the SQL Server to be reached by my local workstation, in term of networking firewall rules.
I was trying to execute the steos mentioned here https://github.com/microsoft/fhir-server/blob/main/docs/SchemaMigrationTool.md to install the schema R4 but I receive this error

schema-manager available -s https:

[2021-06-01 08:52] giacomodeliberali opened #1984 "First call failing after 7 to 10 SQL Server migration"
**Describe the bug**
After migrating our SQL Server schema from 7 to 10, the first (and only the first) api call fails with the following exception:

[code]

[code]

**FHIR Version?**
R4

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Host under IIS
2. Stop the pool
3. Start the pool
4. Make any request

**Expected behavior**
The first call should not fail (sub

[2021-06-01 15:55] namadabu opened #1985 "Paging through results for queries with multiple _type parameters returns 500"
**Describe the bug**
For search requests that have multiple _type parameters (_type=resource1,resource2,...) we get 500 responses in certain situations. It happens when we are paging through results for the last resource type that is returned.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Assuming starting from a blank fhir-serve

[2021-06-01 17:35] CaitlinV39 commented on #1984
@rbans96 can you look into this?

[2021-06-01 21:17] CaitlinV39 opened #1989 "Capability statement missing support for Patient $Everything"
**Describe the bug**
Patient/$everything is now supported on cosmos DB but the capability statement doesn't state that it is supported.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. GET {FHIR SERVER URL}/metadata
2. Look at CapabilityStatement.rest.operation and patient-everything should be listed

**Expected behavior**
Capability

[2021-06-02 16:33] IoTFier opened #1994 "OSS repo build fails in VS 16.10.0"
**Describe the bug**
OSS repo build fails in VS 16.10.0
[ This is a similar situation as reported in https://github.com/microsoft/dicom-server/issues/614 ]

**FHIR Version?**
Stu3/R4/R5 - For all version

**Data provider?**
CosmosDB/SQL Server | **SQL Server**

**To Reproduce**
Steps to reproduce the behavior:
1. Build the latest repo in Visual Studio 16.10.0 (commit - d0c1225 - Create DaVinciForm

[2021-06-02 20:36] rbans96 commented on #1984
@giacomodeliberali  Did you perform the schema migration using schema tool or service on the startup itself. Is the request made to fhir-server after schema migration is completed? What is the request you made?

Since I tried to repro this issue on my local by migrating schema from 7 to 10 using tool or service on startup and each request(POST /Patient) is success.

[2021-06-02 21:11] CaitlinV39 commented on #1567
Thanks @mikemassa84. We are able to reproduce and are considering what the best next step would be. We did reduce the size of the token, but when we base64 encode it, it is adding enough that it is getting pushed over the limit. I'll reopen this issue.

[2021-06-03 07:00] giacomodeliberali commented on #1984
Actually we created the database at version 4, and we manually (with our own deploy pipeline) applied the `.diff.sql` up to 10. The request is made after the migration is succesful and complete. Tthe error happens with any request on any resource, either GET or POST. The request that we tried was a simple GET `Observation?_sort=-date`.

[2021-06-03 13:04] luisgmgouveia opened #2001 "FHIR release 5 (v4.6.0)"
Can you provide me a macro-estimate for the release-date of support to the new FHIR Release 5 (now v4.6.0) ?

If not, based on the previous delays between the FHIR version releases and the fhir-server releases, when do you think this will happen?

This is very important to me and my team as we depend on evolutions that came-up in this new release.

Thank you very much!

[2021-06-03 13:47] anyname2 opened #2002 "ArgumentNullException in chained search with :not modifier"
**Describe the bug**
When performing a chained search with `:not` modifier, `ArgumentNullException` is thrown.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. `GET /Observation?device:Device.type:not=abc`

**Expected behavior**
Search is performed successfully.

**Actual behavior**
Server returns 500 Internal Server Error with `Arg

[2021-06-03 19:04] Ivanidzo4ka commented on #1994
I've update code to remove unnecessary casts. main branch should be compilable now.

[2021-06-03 19:04] #1994 closed

[2021-06-03 20:17] Ivanidzo4ka opened #2003 "Include doesn't check type of search parameter"
**Describe the bug**
Expression parser doesn't check what search parameter is used for include, which leads to 500.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Search Patient?_include=Patient:family
2. Search Patient?_revinclude=Coverage:identifier

**Expected behavior**
Either operation bad request or operation outcom

[2021-06-04 16:43] Ivanidzo4ka commented on #2002
Fact of crash is undeniable, but I would like to argue about expected behavior.

I'm not sure about scope of `:not` modifier. In spec it's defined for token only, and there is not much info about should it be applicable to chain as well, or should it be for token only.

There is https://jira.hl7.org/browse/FHIR-26886

It sounds like chaining queries shouldn't work with modifiers at all and we shou

[2021-06-04 16:58] Ivanidzo4ka commented on #2001
Firely libraries on which we base our code updated to 4.6.0 release in 3.3.0 version 2 days ago.
There is [PR](https://github.com/microsoft/fhir-server/pull/1998) from dependabot which switches to that version, but there is few changes in code we need to make.

@brendankowitz  @CaitlinV39  What's our priority on this?

[2021-06-04 17:40] CaitlinV39 commented on #2001
@luisgmgouveia - We will scope the effort for the work next week and then can provide an update on when this will be in place.

[2021-06-04 18:01] mikemassa84 commented on #1567
@CaitlinV39 maybe a hash and store? You could put the base64 string through a sha256 hash and build a hex string out of it. That'd consistently give you a 64 character string you could use in place of the base64 string. You'd have to store the hash to original string mapping though to get back to your original token...

[2021-06-04 18:18] CaitlinV39 commented on #2001
AB#82653

[2021-06-04 18:20] CaitlinV39 commented on #2003
AB#82654

[2021-06-04 18:21] CaitlinV39 commented on #1989
AB#82601

[2021-06-04 18:22] CaitlinV39 commented on #1985
@namadabu - Can this be closed?

[2021-06-04 18:22] CaitlinV39 commented on #1982
@rbans96

[2021-06-04 18:29] #1985 closed

[2021-06-04 19:02] rbans96 commented on #1982
@vimorra available command fetches the available information the fhir service itself and not from the SQLServer. So the endpoint that we need to provide is the fhir service endpoint and not the sqlServer name.
schema-manager available **-s [fhir-service endpoint]**

[2021-06-04 20:00] CaitlinV39 commented on #1984
@giacomodeliberali - Unfortunately we aren't able to produce given that you manually upgraded between the versions. I'm going to close for now as we cannot reproduce but if you have more details or other questions please let us know.

[2021-06-04 20:00] #1984 closed

[2021-06-04 23:16] tongwu-msft opened #2011 "SQL TokenNumberNumber composite search would always return 500"
**Describe the bug**
TokenNumberNumber composite search would always return 500. Here’re the repo steps:

     After investigation I believe it caused by wrong generated query, and highlighted part is wrong for TokenNumberNumberQueryGenerator it should be TokenNumberNumberCompositeSearchParam:

       internal class TokenNumberNumberQueryGenerator : CompositeQueryGenerator
    {
        public sta

[2021-06-05 04:45] brendankowitz opened #2013 "PUT SearchParameter to create with specified ID fails"
**Describe the bug**
When using PUT to create a search parameter it results in a 500

[code]

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Post the above request

**Expected behavior**
Search parameter created with specified ID

**Actual behavior**
500

[2021-06-05 19:50] PTaladay commented on #1871
@CaitlinV39 I don't see any attached screenshots indicating "(see the yellow highlighted boxes here)". Can we list out some of the scenarios that tend to take the most time for a frame of reference? Thanks

[2021-06-07 09:36] luisgmgouveia commented on #2001
Hi @CaitlinV39 , thanks a lot for your answer! I will wait for those details. By the way, congratulations for the work you've done so far, this project seems to be a great help. The fact that Microsoft is backing it came as no surprise. Have a nice week!

[2021-06-07 17:11] CaitlinV39 commented on #1982
@vimorra - Please let us know if you have any other issues! I'm going to close this for now but we can reopen if you need more help.

[2021-06-07 17:11] #1982 closed

[2021-06-07 19:34] CaitlinV39 commented on #1871
Initial Running Schema Version | Automatic Updates | Intermediate Schema Version | Schema Tool Action | Final Schema Version | Schema Upgraded Notification Fired From: | Upgrade Script | Notes
-- | -- | -- | -- | -- | -- | -- | --
5 | Disabled | 5 | apply --next | 6 | SchemaJobWorker | 6.diff.sql | SqlServerFhirModel initialization could be delayed up to 1 min
null | Disabled | N/A | apply --lates

[2021-06-07 19:35] CaitlinV39 commented on #1871
@PTaladay - Sorry about that! I added details in the comments

[2021-06-07 19:49] CaitlinV39 commented on #660
@rotodd - Do you think we can close this?

[2021-06-07 19:49] CaitlinV39 commented on #660
AB#70337

[2021-06-07 20:12] CaitlinV39 commented on #2013
AB#82680

[2021-06-07 20:18] CaitlinV39 commented on #1849
I believe this is related to AB#82285

[2021-06-08 06:11] IoTFier commented on #1994
@Ivanidzo4ka , thank you.

[2021-06-09 07:41] #1989 closed

[2021-06-10 15:00] FesterCluck opened #2019 "Release Version Query"
I have deployed the managed service, but I need to check the release version of the underlying API. Is there a query I can use to check this?

[2021-06-11 10:19] tongwu-msft opened #2020 "Observation-code-value-date search not work"
**Describe the bug**
When create a Observation resource with code and valueDateTime, search for Observation-code-value-date not return correct result.

I believe the root cause is the definition for SearchParameter is incorrect.

"expression" : "value.as(DateTime) | value.as(Period)" should be "expression" : "value.as(dateTime) | value.as(period)"

**FHIR Version?**
Stu3/R4/R5

**Data provider?**

[2021-06-11 18:50] brendankowitz commented on #2019
To clarify, do you mean the FHIR version? You can use:

[code]

Or do you mean our OSS release version?

[2021-06-14 06:50] Ivanidzo4ka commented on #2013
https://github.com/microsoft/fhir-server/issues/1849 related

[2021-06-14 08:37] devcs21 opened #2021 "latest Server build: not able to send Compose.LockedDate for ValueSet (STU3)"
**Describe the bug**
after migration to latest build that is using HL7 3.2.0 Nuget package I've got problem with creting ValueSets  (this problem didn't happen before).

when I try to create a ValueSet (STU3)
it fails on server side.
[code]

with exception:

`ERROR|Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware|An unhandled exception has occurred while executing the request. Hl7.Fhir.

[2021-06-14 18:50] #1936 closed

[2021-06-14 18:58] #1935 closed

[2021-06-14 18:59] CaitlinV39 commented on #1559
@feordin - can you confirm if we re-enabled all the tests?

[2021-06-14 20:46] feordin commented on #1559
Currently, several tests are still disabled.  They were not running well in CI.  I am working on it as part of the story I have to stabilize the CI tests.

[2021-06-14 22:15] LTA-Thinking commented on #1967
A manifestation of this bug. If _since is the last parameter in a url and there is a space included after the datetime, the datetime will fail to parse and will be ignored entirely.

[2021-06-15 10:49] Lukas1v opened #2025 "Which database for which use case?"
**Question**

Should I use CosmosDB or SQL server as database? Are there particular use cases for each type?

**Description**
We are currenty deploying the FHIR server on Azure and have to choose either CosmosDB or SQL Server as the backend database, but have no clue which one would be the most optimal. From the documentation and sample deployments, it seems that SQL server is more used, but does

[2021-06-15 15:29] mosiermt opened #2026 "Bundle.response missing required field "status""
**Describe the bug**
According to the FHIR R4 documentation for a Bundle ( https://www.hl7.org/fhir/bundle.html ), if a response object is provided, it Must have the "status" string representing the status code of the response. When a bundle is returned in the paas, it does not return this field.

**FHIR Version?**
R4

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:

[2021-06-15 17:29] CaitlinV39 commented on #2025
@Lukas1v - From a functionality perspective, SQL will support transaction bundles (https://www.hl7.org/fhir/http.html#transaction) on FHIR and has slightly more robust support for chained/reverse chaining search. The Cosmos DB has support for $patient-everything but SQL will eventually.

[2021-06-15 17:29] CaitlinV39 commented on #2019
I'm going to close this issue but please let us know if you need anything else.

[2021-06-15 17:29] #2019 closed

[2021-06-15 20:50] Ivanidzo4ka commented on #2021
Before we switch to 3.2 version of nuget date fields were ok with accepting time values. Which was a bug.
As you pointed out `Compose.LockedDateElement` is of type of `date` and `date` shouldn't have minutes, seconds, timezone, etc.
[code]
so this exception is a good thing. We shouldn't accept it this format for the date. Correct value should be `2021-06-14`

Question is how we get this extra info

[2021-06-16 11:55] devcs21 commented on #2021
The problem has been resolved. May be it was wrong git pull. I've physically removed  ms fhir's folder and clone the project again. Now it's OK.  May be this is a problem of transition branches' naming  from "master" to "main" or so....

[2021-06-16 17:21] CaitlinV39 commented on #2021
@devcs21 - We're glad to hear that it is resolved. Please let us know if you have any other issues.

[2021-06-16 17:21] #2021 closed

[2021-06-16 21:43] CaitlinV39 commented on #2020
@rotodd

[2021-06-18 02:05] brendankowitz commented on #2025
The trade-offs only start to matter at much higher load/scale (i.e. Cosmos has Autoscale and also transparently manages physical data partitions), the Cosmos provider is what is used in Azure API for FHIR today.
SQL will require a little more maintenance (i.e. schema upgrades, and as you mentioned, some DBA work such as backups). However, SQL has a more capable query engine and transactions, thus

[2021-06-18 17:51] moiradillon12 opened #2037 "Resource returned multiple times if it meets both base criteria and _include criteria"
**Describe the bug**
When running a search that has _include that meets the base criteria and also the include criteria, a single resource is included twice. Example: search for Locations and include partOF, which references a location, the location resource is returned twice.

**FHIR Version?**
R4

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. Post a Location r

[2021-06-18 23:02] CaitlinV39 commented on #2026
AB#82981

[2021-06-21 18:57] #1941 closed

[2021-06-21 19:01] Ivanidzo4ka opened #2040 "IdToTokenSearchValueConverter doesn't sound right"
**Describe the bug**
https://www.hl7.org/fhir/datatypes.html#id states what `id` is type of `xs:string`, why our converter maps it to token search value, it doesn't make much sense to me.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to hap

[2021-06-21 19:02] Ivanidzo4ka commented on #2040
https://microsofthealth.visualstudio.com/Health/_workitems/edit/82998

[2021-06-25 14:52] chegemr commented on #774
Hi @hansenms, Can we confirm whether successful authentication will allow access to the complete dataset and supports RBAC now? We are looking to complete this configuration for the July 1st mandate.

[2021-06-25 15:51] chegemr commented on #774
@tragdorvigani1 Hi, We are having the same B2C issues. Can you please assist us with the solution you used to complete your POC.

[2021-06-25 18:17] hansenms commented on #774
@CaitlinV39 can you comment.

[2021-06-25 18:32] #1849 closed

[2021-06-25 19:30] #1967 closed

[2021-06-25 22:25] brendankowitz commented on #2040
The search definition is token: https://www.hl7.org/fhir/resource.html#search.
In search, Token by default an exact match where string defaults to StartsWith.

[2021-06-25 22:39] #2040 closed

[2021-06-25 22:57] #2026 closed

[2021-06-25 22:57] #2013 closed

[2021-06-28 14:39] chgl commented on #1760
Quick update: using the actual code system improves the search performance significantly and avoids timeouts:

[code]

This is definitely a much cleaner usage of FHIR semantics anyway.

[2021-06-28 22:26] LTA-Thinking opened #2056 "Group export fails for large groups in Cosmos DB"
**Describe the bug**
Cosmos DB has a maximum character limit for queries. With the way group export is implemented currently it exceeds this limit if a group has more than ~4940 members. This triggers the export job to fail and an unknown error to be recorded as the reason.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. Create a gro

[2021-06-29 10:54] guybartal opened #2059 "Bug: can't communicate with fhir server inside devcontainer on windows"
**Describe the bug**
Can't send HTTP(s) requests to FHIR server inside Dev container while running from Windows machine

**FHIR Version?**
Stu3/R4/R5 - all

**Data provider?**
CosmosDB/SQL Server -all

**To Reproduce**
Steps to reproduce the behavior:
1.  clone repo
2.  reopen in container using vscode remote container extension
3.  use postman to GET https://localhost:44338/metadata

**Expected b

[2021-06-29 23:17] LTA-Thinking commented on #2056
Cosmos DB doc: https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#sql-query-limits

[2021-06-30 14:38] #2025 closed

[2021-06-30 16:16] #2011 closed

[2021-06-30 18:00] #2059 closed

[2021-06-30 19:25] CaitlinV39 commented on #774
This issue is still in the same status, that we do not have support for Azure AD B2C within the FHIR Server. We are leaving this open as informational but don't have firm timelines to address. You could look at the open-source FHIR Proxy (https://aka.ms/fhirproxy) which has some additional capabilities through proxy.

[2021-07-01 10:23] giacomodeliberali commented on #1973
Hi @CaitlinV39 , any news on this? In which version a "full implementation of _sort on all strings and dates in SQL" should be available?

[2021-07-01 19:05] CaitlinV39 commented on #1973
Our goal is to have this merged by end of next week, but it may get pushed one week.

[2021-07-01 22:39] Ivanidzo4ka commented on #2001
[New release ](https://github.com/microsoft/fhir-server/releases/tag/release%2F2.0.99) contains 4.6 version for R5.

[2021-07-02 20:54] #1953 closed

[2021-07-02 21:07] #2001 closed

[2021-07-12 18:26] ChrisMeeusen opened #2082 "Restrict Resources and Operations available and reflect restrictions in capability statement"
Hi,

We're evaluating FHIR servers, got this R4 project running and working, but our use case is very specific for our initial rollout.  We just want to allow for read operations on DiagnosticReport resources (maybe patient and other related resources as well).  But I'm having a hard time figuring out how do we customize the R4 projects to get a paired down capability statement to reflect only all

[2021-07-14 04:08] Ivanidzo4ka commented on #2082
Hello.

I don't think there is a way to shrink down scope of available resources for server itself. It also doesn't feel exactly right to limit capability of server to work only with specific types. FHIR server suppose to serve as many needs as possible.

What you can do instead is restrict access to resources. Currently our role base model is quite limiting in terms of global read/global write, e

[2021-07-14 13:52] ChrisMeeusen commented on #2082
Thank you I appreciate the response.  I figured this implementation wasn't designed with resource restriction in mind, but it's nice to get a confirmation.

It seems like a pretty normal use case to restrict resources, operations, and allowable search filters and have these restrictions reflected in the capabilitystatement.  Infact, I thought that was kind of the whole purpose of the capability st

[2021-07-15 07:37] giacomodeliberali commented on #1873
Hi @brendankowitz , any update on this? We are facing the same issue

[2021-07-15 14:28] CaitlinV39 commented on #1873
@giacomodeliberali We still don't have an ETA for when we would support this in the FHIR server. Is your scenario the same around questionnaire response?

[2021-07-15 14:31] giacomodeliberali commented on #1873
Yes same scenario

[2021-07-19 20:26] brendankowitz opened #2102 "Update e2e test category on long running anonymizer tests"
**Describe the bug**
We need to separate out potentially long running tests in `AnonymizedExportTests.cs` with the same test category used in https://github.com/microsoft/fhir-server/blob/main/test/Microsoft.Health.Fhir.Shared.Tests.E2E/Rest/ExportLongRunningTests.cs.
These are then run in a separate 'long running' pipeline.

AB#101798

[2021-07-19 22:55] #660 closed

[2021-07-20 13:44] giacomodeliberali commented on #1404
Hi @CaitlinV39, any updates on this?

[2021-07-20 20:18] CaitlinV39 commented on #1404
We are still working on this. I'll make sure this item gets updated once we merge.

[2021-07-23 10:24] Sameer2810 opened #2113 "Custom Search not working."
**Question**

I have get the latest code from release 2.0.99 and I wanted to add custom search I followed this link https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/how-to-do-custom-search  but it gives following error

{
    "resourceType": "OperationOutcome",
    "id": "e41fdc27-da5f-45c2-a5eb-6d3dfc37d7d6",
    "issue": [
        {
            "severity": "error",
            "code":

[2021-07-23 16:12] CaitlinV39 commented on #2113
Can you validate what you have in the "status": field? I just copied directly from our documentation and was able to submit. If you can share the json for the body of the searchparameter we can take a look and see if we can find the differences.

[2021-07-23 20:01] btsetworks opened #2114 "Microsoft FHIR Server - Identity Server & SMART"
Hello Microsoft & All Contributors to Microsoft FHIR Server,

I am doing a proof of concept with Microsoft FHIR Server and its working great, I can get it to work locally with no authentication, and now with the local Identity Server OAUTH2.

My question for you is, can you configure Microsoft FHIR Server to work with Identity Server and SMART?  I would like to go this route as opposed to using Az

[2021-07-24 13:39] Sameer2810 commented on #2113
Following is my json. It is the same json from https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/how-to-do-custom-search

{
  "resourceType" : "SearchParameter",
  "id" : "us-core-race",
  "url" : "http://hl7.org/fhir/us/core/SearchParameter/us-core-race",
  "version" : "3.1.1",
  "name" : "USCoreRace",
  "status" : "active",
  "date" : "2019-05-21",
  "publisher" : "US Realm Steering Co

[2021-07-24 16:58] CaitlinV39 commented on #2113
Hi Sameer -

A couple more questions as I'm still not able to reproduce.

1. Are you able to hit the metadata endpoint on your FHIR server?
2. Are you using Cosmos DB or SQL?
3. Are you using R4 or STU3 version of the FHIR server?

We did just release a new package as well, but I'm not aware of any issues with search parameters on 2.0.99. We did make some updates to a few other bugs in 2.0.99 so I

[2021-07-24 16:59] CaitlinV39 commented on #2114
For the SMART on FHIR proxy built into the FHIR server, we rely on Azure AD. There is an open-source FHIR Proxy that might have some additional functionality to help you with which you can take a look at here: https://aka.ms/fhirproxy

[2021-07-26 06:18] Sameer2810 commented on #2113
Hi Caitlin,

Answer to your questions

1.  Yes I am able to hit metadata endpoint on FHIR server
2.  I am using SQL
3.  I am using R4 version of FHIR server

[2021-07-28 06:14] Sameer2810 commented on #2113
Do I need to go for new release 2.0.121? Can this solve the problem

[2021-07-28 14:22] CaitlinV39 commented on #2113
Hi @Sameer2810 - I still haven't been able to reproduce on my side so yes, please try the next release and let me know if you are still having issues.

[2021-07-28 21:02] btsetworks opened #2125 "Microsoft FHIR Server - SMART support Scopes?"
Hey Microsoft and Contributors,

I am doing research on Microsoft FHIR Server and SMART.

Does your SMART Proxy support scopes at all?  Like: patient/Patient.read patient/Observation.write.

Or is just basic support for the ability to authenticate via SMART?  Essentially just passing the appropriate url / responses.

I don't think the SMART Proxy support scopes at this time.  Just wanted to clarif

[2021-07-28 21:06] btsetworks commented on #2125
It does seem that the FHIR Proxy is what was intended to do SMART scope filtering:
https://github.com/microsoft/fhir-proxy

Is that correct?  Is this what you intend people to use to accomplish this?

Thanks

Blake

[2021-07-28 22:05] CaitlinV39 commented on #2125
@btsetworks can you open this issue on the FHIR proxy? https://github.com/microsoft/fhir-proxy

Thanks!
Caitlin

[2021-07-28 22:05] #2125 closed

[2021-08-02 21:42] Ivanidzo4ka commented on #2020
I agree with small correction, `Period` should be capitalized. http://hl7.org/fhir/datatypes.html#Period since it's a general-purpose data type and not primitive type.

[2021-08-03 11:17] sasireha opened #2137 "Fhir server doesn't support _include:recurse search parameter"
**Description**
Fhir server does not support **_include:recurse** search parameter.
I have tested with the latest version 2.0.121

`GET [base]/Observation?_include:recurse=Observation:related-target`

**FHIR Version**
Stu3

**Data provider**
CosmosDB

**Expected behavior**
Should be able retrieve the resources with **_include:recurse** param

**Actual behavior**
Returns the following response.
`{

[2021-08-03 17:08] brendankowitz opened #2138 "SMART well-known configuration endpoints are missing"
**User story**
As a SMART Developer the FHIR Server should respond to the `.well-known/smart-configuration` endpoint so that I can easily authenticate.

AB#101797

[2021-08-03 18:58] CaitlinV39 commented on #2137
This is a known limitation of using _include & _revinclude on Cosmos DB. We don't have the work prioritized but will keep it open for tracking.

https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/overview-of-search

[2021-08-04 10:55] VladislavAntonyuk opened #2140 "Docker Compose with CosmosDB"
You provided an example of how to use docker with SQLServer.
Could you provide an example of how to use it with CosmosDB
Thank you.

AB#101796

[2021-08-04 11:16] vivekr2001 commented on #1514
Hi... When we query the Next link... it does not honor the initial search parameters. Anyone else has faced this issue?

[2021-08-04 15:11] CaitlinV39 commented on #1514
@vivekr2001 - That behavior sounds concerning. Could you please open a new bug with details so we can investigate?

[2021-08-05 00:47] brendankowitz commented on #2140
Thanks for the feedback. Just clarifying you're referring to this page? https://github.com/microsoft/fhir-server/tree/main/samples/docker

We don't have this example now, but in the meantime the DevContainer setup does use Cosmos which you could refer to:
https://github.com/microsoft/fhir-server/blob/main/.devcontainer/docker-compose.yml

[2021-08-05 12:59] appetere commented on #1268
Would you update https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/fhir-features-supported to say that PATCH is not supported, please?  I spent several hours trying to get it working, whereas it doesn't appear to be implemented yet?

![image](https://user-images.githubusercontent.com/1777396/128353651-d1d1a2e6-415e-4ba1-b381-9e9b87eea04d.png)

[2021-08-05 15:04] VladislavAntonyuk commented on #2140
I tried to change your file to something like this:
[code]
But I receive the error:
[code]

[2021-08-05 15:31] sasireha opened #2146 "Unable to create custom search parameter for Careplan medicaldevice"
**Description**
I tried to create the following custom search parameter for CarePlan but server returns bad request error.

[code]

**FHIR Version**
Stu3

**Data provider**
CosmosDB

**Expected behavior**
Should be able to create the custom search parameter with the url 'http://nictiz.nl/fhir/SearchParameter/careplan-medicaldevice'

**Actual behavior**
Fhir server returns the following error messa

[2021-08-05 16:48] CaitlinV39 commented on #1268
I'm so sorry for the confusion. We will get the docs updated. This is available in open source on both offerings and will be int he managed service by the end of next week.

[2021-08-05 17:47] brendankowitz commented on #2146
The expression needs to be a type that can converted from the Model Type to a Search type, so it can be indexed. In the example above the expression ends with type `Extension`.

If you take http://hl7.org/fhir/us/core/STU3.1.1/SearchParameter-us-core-race.html for example, it specifies `Patient.extension.where(url = 'http://hl7.org/fhir/us/core/StructureDefinition/us-core-race').extension.value.co

[2021-08-05 18:00] brendankowitz opened #2148 "Posting a Bundle with incorrect Media Type returns a 500"
**Describe the bug**
Posting a Bundle with incorrect Media Type returns a 500.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB

**To Reproduce**

[code]

[2021-08-05 18:25] sasireha commented on #2146
Thanks for the update!
I modified the expression as you mentioned but still I get the same error. It complains about the value of **SearchParameter.url**    property.

[code]

[2021-08-05 18:29] CaitlinV39 commented on #2146
Can you send the updated search parameter you posted?

[2021-08-05 18:32] sasireha commented on #2146
Here it is

[code]

[2021-08-05 22:50] CaitlinV39 commented on #1973
We are still merging the feature branch. Goal is middle of August now.

[2021-08-05 23:27] Ivanidzo4ka opened #2150 "Modifier added in R4 working in STU3 version"
**Describe the bug**
Certain modifiers like: :ofType or :identifier been added in R4 and not present in STU3.
if I do search with them in STU3 they work fine, but they should return modifier not supported message.

Our `ExpressionParser` class are not version aware.

**FHIR Version?**
Stu3

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. send Patient?id

[2021-08-06 07:38] muruganrk commented on #595
How to update patient data with localhost "https://localhost:44348/" endpoint?

share me update patient endpoint and request JSON or postman collection.

[2021-08-06 09:28] Lukas1v opened #2152 "set PathBase from Environment Variable"
**User story**
As a user, I want to be able to set PathBase from an Environment Variable so that I can run the FHIR server under a custom path (eg /fhir) that is provided when deploying as a docker container.

**Acceptance criteria**
1. When I set an environment variable PATH_BASE, it sets the PathBase from #1200

I already implemented a quick fix by defining a method in FhirServerConfiguration:

[2021-08-09 05:51] Sameer2810 commented on #2113
@CaitlinV39 - It is working with release 2.0.121

[2021-08-09 16:30] #2113 closed

[2021-08-09 16:44] brendankowitz commented on #2152
This should already be able to be set from an Environment Variable. See: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0#naming-of-environment-variables

[2021-08-10 21:30] Ivanidzo4ka commented on #2146
Let me recall my previous statement...
Main reason why it's not working:
`CarePlan.activiy` is misspelled it should be `CarePlan.activity`

[2021-08-11 16:53] btsetworks opened #2162 "FHIR Server - Cosmos Transaction Support?"
Hey Microsoft Team & Contributors,

Do you have Cosmos support for resource bundle transactions?  From my initial testing, it does not look like this is supported.

Do you plan to add support for this?  Or is there another way to turn this on?

I can get bundle transactions to work with the SqlServer data source, just not Cosmos.  I was hoping to take advantage of the advanced processing with Cosm

[2021-08-11 16:57] CaitlinV39 commented on #2162
@btsetworks Unfortunately we cannot support transactions on the Cosmos DB. If you need transaction support, you will need to use the SQL backend. Let us know if you have other questions!

[2021-08-11 16:57] #2162 closed, assigned to nobody

[2021-08-12 07:24] sasireha commented on #2146
Thanks I have corrected the spelling as mentioned but I get a different error now. I have provided value for all the mandatory properties, I'm not sure what I'm missing still.

[code]

[code]

[2021-08-13 12:13] neenujoy commented on #768
Can you specify custom search parameter for immunization/recorded

Can you give custom search parameter for "immunization/recorded" to be included in search-parameters.json

[2021-08-13 16:40] CaitlinV39 commented on #768
@neenujoy - Now we would recommend that you could create a custom search parameter as defined in the documents above and reindex your database. If you have additional questions, please feel free to open a new issue so we can track.

[2021-08-13 18:12] CaitlinV39 commented on #1394
@medlab001 - I realize this question is really old, but right now we don't support this on the FHIR server directly. We recommend using the FHIR proxy available here: https://aka.ms/fhirproxy

[2021-08-13 18:25] CaitlinV39 commented on #2152
@Lukas1v - Let us know if you still have issues. I'm going to close but feel free to reopen if you need!

[2021-08-13 18:25] #2152 closed

[2021-08-13 20:26] neenujoy opened #2167 "Not implemented exception when reindex Immunization resource"
I am using microsoft/fhir-server. I've created my SearchParamater for Immunization resource and added it to the search-parameter.json definition file.  Now I tried to reindex the resource using POST to "<fhir-base-url>/Immunization/<immunizationId>/$reindex" url. There is no body for POST in my request. I am getting the following error

_System.NotImplementedException: The method or operation is n

[2021-08-13 21:57] Ivanidzo4ka opened #2168 "Put with no id is confusing"
**Describe the bug**
[code]

return back 400 bad request and
[code]
**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
Tell me what you looking for id after {yoururl}/FhirType

**Actual behavior**
A clear and concise description of what actually happened.

[2021-08-16 13:58] #2167 closed

[2021-08-16 13:59] neenujoy commented on #2167
Nil

[2021-08-17 02:44] brendankowitz commented on #2168
This is probably the conditional PUT route

[2021-08-17 21:09] CaitlinV39 commented on #2150
AB#84434

[2021-08-17 21:10] CaitlinV39 commented on #2148
AB#84435

[2021-08-17 21:12] CaitlinV39 commented on #2138
AB#84436

[2021-08-17 21:15] CaitlinV39 commented on #2056
AB#84438

[2021-08-17 21:16] CaitlinV39 commented on #2037
AB#84439

[2021-08-17 21:18] CaitlinV39 commented on #1848
AB#84440

[2021-08-17 21:20] CaitlinV39 commented on #890
AB#84441

[2021-08-17 21:23] CaitlinV39 commented on #2020
AB#84442

[2021-08-17 21:29] CaitlinV39 commented on #1282
AB#84444

[2021-08-17 21:29] CaitlinV39 commented on #1869
AB#84443

[2021-08-26 21:19] sethuraj opened #2191 "ADB2C registration is giving authentication / authorization failed when accessing my FHIR server api"
The FHIR application that I am building is using ADB2C for authentication and authorization.
FHIR Server is installed in my Active Directory tenant where I have my subscription.
I have registered the FHIR server and a "postman callback” client with ADB2C APP registration,
I have added admins roles by editing manifest and added one of the ADB2C user as the "globalAdmin" role.
All permissions are se

[2021-08-30 14:32] Sameer2810 opened #2194 "Support for Multi-tenant"
I have doubt whether there is built-in support for multi-tenant database

[2021-08-31 15:25] fmeira opened #2195 "OperationOutcome uses location (which has been deprecated) instead of expression"
**Question**

According to https://hl7.org/fhir/operationoutcome.html, the field "location" has been deprecated and the field "expression" should be used instead. Is there an estimation for when this update should be implemented?

[2021-08-31 23:28] CaitlinV39 commented on #2168
Missing that you need the ID or a search for conditional

[2021-08-31 23:29] CaitlinV39 commented on #2102
@ranvijaykumar - Do you think your group could take a look at this? @namadabu would be able to weigh in as well.

[2021-08-31 23:30] CaitlinV39 commented on #2082
@moiradillon12 consider in disable history

[2021-08-31 23:31] CaitlinV39 commented on #2002
@CaitlinV39 follow up in Zulip

[2021-08-31 23:35] CaitlinV39 commented on #2146
@CaitlinV39

[2021-08-31 23:35] #1231 closed

[2021-08-31 23:38] Ivanidzo4ka commented on #2168
Yes, it's conditional PUT and we eat validation message.
If we don't supress validation message output looks like this:

{
    "resourceType": "OperationOutcome",
    "id": "889f0d30-e733-40c7-baf9-3f47cf35b0f7",
    "issue": [
        {
            "severity": "error",
            "code": "invalid",
            "diagnostics": "Operation was not attempted because search criteria was not selective

[2021-09-02 08:01] tomjscrypt opened #2200 "$reindex not working, never complets"
To reproduce:
1. Create new Fhir Service.
2. Run $reindex on {{fhir-url}}.
3. Check status of job it is:
`{
            "name": "totalResourcesToReindex",
            "valueDecimal": 0.0
        },
        {
            "name": "resourcesSuccessfullyReindexed",
            "valueDecimal": 0.0
        },
        {
            "name": "progress",
            "valueDecimal": 0.0
        },
        {

[2021-09-02 12:40] Eneuman opened #2202 "MultiTenantSqlConnectionStringProvider, is it possible?"
I'm trying to setup Fhir-Service in a multi-tenant way where a user claim determins the connection string to be used.

Do you think this concept will work if I disable all kinds of sql auto migrations and the Task Hostings?

I create a new class that implements ISqlConnectionStringProvider
[code]

Then in Startup.cs
[code]

or are there some internal stuff that prevents this from working?

[2021-09-02 14:40] fmeira opened #2203 "nbsp character raises an invalid result due to regex mismatch"
**Describe the bug**
Sending a nbsp character (0x00a0 (160)) in a text (string) field (for Dosage resource) raises an invalid regex parsing.

**FHIR Version?**
R4

**Data provider?**
SQL Server

**To Reproduce**
Steps to reproduce the behavior:
1. Send in a bundle resource with a medication-statement that has dosing.text with a nbsp character in it, ex: "1 000 mL 2 TIMES DAILY Max Daily Amount: 10

[2021-09-02 16:09] CaitlinV39 commented on #2200
@rotodd @Ivanidzo4ka

@tomjscrypt - A couple of questions. Are you deploying open-source or managed service version? If open-source, is it SQL or Cosmos? If managed service is it Azure API for FHIR or the Azure Healthcare APIs?

[2021-09-02 20:26] Ivanidzo4ka commented on #2203
https://github.com/FirelyTeam/firely-net-sdk/issues/1563

We use firely library under the hood to do validation, and they did had that issue in the past, but for current release of our service we use 3.4 version which suppose to have right fixes.

I also have trouble to reproduce it locally. Sending MedicationStatement with dosage.text like that:
`"text": "Df sd\u00a0в",`
ends in creation of resou

[2021-09-02 20:51] #2168 closed

[2021-09-03 08:55] tomjscrypt commented on #2200
@CaitlinV39 thank you for quick response,
Problem is when I create FHIR service in Azure Healthcare APIs (all created with default settings according to documentation).
I tried same thing on Azure API for FHIR and it is working there as expected i.e. job is completed and I get following:

`
        {
            "name": "output",
            "part": [
                {
                    "name":

[2021-09-03 09:48] fmeira commented on #2203
Thanks for your reply @Ivanidzo4ka.
I see I forgot to mention an important detail, which is the version of the fhir-server we are using.
As we are still running .net 3.1, we are using the latest version of fhir-server that supports it, that is from Feb 21st.
If I am not mistaken, that version still uses the v1.9 firely library, which still has this problem.

I can then assume that when we upgrade

[2021-09-03 09:48] #2203 closed

[2021-09-03 16:14] sethuraj commented on #2191
Any comment @CaitlinV39 ? Is FHIR API be secured with ADB2C app registration?

[2021-09-03 18:30] CaitlinV39 commented on #2200
@tomjscrypt we recently resolved an issue in the Azure Healthcare APIs where the reindex job wouldn't complete. Can you validate that it still isn't working for you? If it isn't, if you can open a support ticket from the product so we can get information about your database we will investigate. Thanks so much! @LTA-Thinking @feordin FYI

[2021-09-03 18:31] TMAHS opened #2207 "Deployment Guide for Dummies"
I am new to this GITHUB and FHIR stuff, but am learning.

When we were deploying our FHIR server to Azure using the guidance at https://github.com/Microsoft/fhir-server/blob/main/docs/DefaultDeployment.md and a few other resources we were able to get the server deployed, but if you documentation could including something along the lines of "if you select a SQL database deployment with the Scheme U

[2021-09-03 18:32] CaitlinV39 commented on #2191
@sethuraj - Sorry for the delay. This is a known limitation and we don't have plans to resolve. Please see issue #774 for more details. We recommend leveraging the Microsoft open-source FHIR proxy (https://aka.ms/fhirproxy) to assist in this scenario.

[2021-09-03 18:32] #2191 closed

[2021-09-07 15:11] LTA-Thinking commented on #2200
@tomjscrypt The fix @CaitlinV39 mentions will be part of our next release, it is not currently available. That release should be available next week.

[2021-09-07 19:25] Ivanidzo4ka opened #2208 "Prefer handling doesn't applied to sort"
**Describe the bug**
Query /Patient?_sort=family with header
`Prefer` `handling=strict`

I expect BadRequest but I get 200 with operation outcome.

**FHIR Version?**
Stu3/R4/R5

**Data provider?**
CosmosDB/SQL Server

**Expected behavior**
400 error.

**Actual behavior**
200 with operation outcome.
[code]

[2021-09-08 13:33] Sameer2810 commented on #2194
For Sql Server?

[2021-09-08 16:26] tomjscrypt opened #2211 "deploy fhir server with authentication"
How to add authentication to fhir-server?

I try to follow:
https://github.com/microsoft/fhir-server/blob/main/docs/QuickstartDeployPortal.md

and I cannot find how to set up the authentication, if one leaves default values, the server has no authentication.

[2021-09-08 19:21] CaitlinV39 commented on #2211
@tomjscrypt We need to work on the flow of our documents a bit, but here are the details:

https://github.com/microsoft/fhir-server/blob/main/docs/Authentication.md
https://github.com/microsoft/fhir-server/blob/main/docs/Register-Resource-Application.md
https://github.com/microsoft/fhir-server/blob/main/docs/Register-Client-Application.md

[2021-09-08 21:21] CaitlinV39 commented on #2194
Right now we isolate on a database level so do not have multi-tenant support.

[2021-09-08 21:21] #2194 closed

[2021-09-09 09:34] tomjscrypt commented on #2211
Thank you for your answer, I have some further questions:

https://github.com/microsoft/fhir-server/blob/main/docs/Authentication.md - is this guide for fhir-server running locally or in Azure?

Do I need to add Identity provider to resource application?

During deployment, do I need to set "Enable Aad Smart on Fhir Proxy" to true, set "Security Authentication Audience" and "Security Authenticaito

[2021-09-10 23:49] mmacagno opened #2218 "Resource identifier does not work if uppercase is used for the id"
**Describe the bug**
Trying to get resources with uppercase GUID/ID returns 404.

I am not sure if this is by design.

**FHIR Version?**R4

**Data provider?**
CosmosDB

**To Reproduce**
Steps to reproduce the behavior:
1. Create a resource (e.g. an encounter), obtain the resulting object with id (e.g. 09f0d9fd-f4fa-4e0b-86bd-027d84097df0)
2. Try to fetch the resource with uppercased id (e.g. https

[2021-09-13 13:34] Sameer2810 opened #2223 "Multitenant support for CosmosDB"
How to approach multi-tenant Database in CosmosDB?

Should I declare partition key as tenant key?  Right now there is default Partition Key like ResourceType_ResourceId, so is there a way to achieve multi-tenant in CosmosDB